[2020-02-13 14:30] jodygarnett opened #2 "active branch discussion"
The initial schema plugin is arriving as https://github.com/metadata101/iso19139.ca.HNAP/pull/1 against branch 3.8.x.

We should decide which active branches to maintain:

* **3.6.x** is used by Federal Geospatial Portal (FGP)
* 3.6.x-ec used by Environment Climate Change Canada (ECCC)
* 3.8.x not in use
* **3.10.x** stable branch of core-geonetwork (GeoCat Live, DFO)
* **master** not in use, avai

[2020-02-13 14:31] jodygarnett commented on #2
@josegar74 how should we proceed, I think we already know of some small changes needed for 3.10.x compatibility.

[2020-02-13 15:20] jodygarnett commented on #2
Going to recommend:

1) start with 3.6.x branch for FGP
2) leave the 3.8.x branch empty (@ianwallen can provide direction here)
3) @josegar74 can work on a 3.10.x branch

[2020-02-13 17:03] ianwallen commented on #2
The code that you are currently adding may only work with the 3.8 branch.  I don't think FGP is ready so  submit their changes or if there are plans for them to submit the code as it is specific to there application (may want to verify with them).    So I would recommend the 3.8 branch be the active branch.

[2020-02-13 17:10] jodygarnett commented on #2
We have some coordination with FGP, the larger goal here is to combine forces on a common activity.

[2020-03-04 19:03] jodygarnett opened #5 "Remove references to custom angular components"
The [config-editor.xml](https://github.com/metadata101/iso19139.ca.HNAP/blob/3.8.x/src/main/plugin/iso19139.ca.HNAP/layout/config-editor.xml) configuration references several angular components that are not inlcuded by geonetwork-core:

* `data-gn-country-selector-ec`
* `data-gn-organisation-entry-selector-ec`

These need to be removed and / or replaced for the editor to function.

[2020-03-05 00:41] jodygarnett commented on #5
This is a tricky balance:

* Removing these mappings prevents the direct use by FGP of this schema
* Adding a country selector, or organization entry selector, may not be welcome on geonetwork-core

[2020-03-11 19:19] jodygarnett commented on #5
Okay some review shows:

1) data-gn-country-selector-ec: provides a pretty useful widget that provides a drop down based on a thesaurus definition which should be of general utility in core-geonetwork

2) data-gn-organization-entry-select-rc: looks to be a bit of magic, it splits a multi-lingual free text field up (using semicolons) and then assigns the first value to a hidden hard coded value, th

[2020-03-13 00:21] ianwallen opened #10 "add-schema.sh incorrect in readme.md"
The readme.md does not seem to have the correct ./add-schema.sh command for all branches.

- The 3.6 branches indicates to use the 3.8 - but I think it should be 3.6
- In the 3.8 branch it has a line to link to the geocat repos which I don't think should be there.

May want to review this to see if it is correct.

[2020-03-16 20:43] jodygarnett opened #12 "Clarify HNAP interaction of main language and multiple PT_LOCALE translations"
The following has been provided by NrCAN FGP in discussion with @ianwallen:

[2020-03-16 20:44] jodygarnett commented on #12
The specification has the following example:

This example only has the alternative language.

[2020-03-16 23:47] ianwallen commented on #12
We have created a simple transformation stylesheet that will convert 3.8 to 3.6.  This transformation basically removes the primary language from the xml file.  We tested it and and we are able to load the transformed data to the FGP.   We currently use it as part of the publishing to FGP which is currently a custom solution (and a work in progress).  I can provide this transformation file if need

[2020-03-17 02:52] jodygarnett commented on #12
Thanks Ian, I would like to better understand what is intended.

[2020-03-17 18:07] ianwallen commented on #12
We are using our local geonetwork 3.8 installation to create/edit metadata records.  We intend to publish our approved metadata records to the FGP (Geonetwork 3.6) system (if it is geospatial data) and publish it to Open Data if it is none geospatial.  We may also publish to other 3rd parties.  We are currently using the Geonetwork api's for creating an MEF file and pushing the content to FGP.  Wh

[2020-03-17 18:12] ianwallen commented on #12
Similar to the extract-ckan-dataset.xsl which is used to publishing to Open Data, this is the xsl that we use to publish to FGP.  The submitted MEF files to FGP has the transformation applied.

[extract-fgp-dataset.zip](https://github.com/metadata101/iso19139.ca.HNAP/files/4345039/extract-fgp-dataset.zip)

[2020-03-18 12:34] josegar74 commented on #12
Ian, related to the main language added also as locale and duplication of the main language value in PT_FreeText elements, this was added in some 3.x version of Geonetwork, in previous versions it worked in a similar way as the FGP branch.

It can be disabled (that was done for FGP) as seem that is required for HNAP specification, although the HNAP specification doesn't really have any full metada

[2020-03-18 23:26] ianwallen commented on #12
Jose,
I just checked [#2032](https://github.com/geonetwork/core-geonetwork/pull/2032) again and looks like it may have been implemented in 3.4.

It is odd because, we had used the 3.6 napec schema plugin in 3.6 and it was working somewhat correctly (there were some java code changes as well as other change) with the geonetwork core 3.6. But when we upgraded to geonetwork core 3.8 there were lots o

[2020-03-24 19:26] ianwallen opened #16 "French title not showing up correctly"
If I upload the following file and go to the viewer (taken from FGP/Open Data) and go to the viewer

The English Title looks correct but the French title is incorrect.  It also seems like it is a json array with duplicate values.

["Cartographie des débarquements de la pêche côtière du homard et de l'effort de pêche sur un quadrillage statistique de la région des Maritimes (2012 à 2014)","Cartogra

[2020-03-24 19:51] ianwallen opened #18 "Contact information not correct"
Contact information for the supplied sample metadata record does not show the contact information correctly.

It shows the following for English (RI_418 needs to be converted)

Government of Canada; Fisheries and Oceans Canada; Oceans and Coastal Management Division
**RI_418:**

And for French, there is no contact information.

[64f741d7-1129-49dd-9e5c-2b1de79024f0.zip](https://github.com/metadata

[2020-03-27 16:52] ianwallen commented on #16
Found bug - it is related to textgroup title being indexed twice.  I will work on a fix shortly.

[2020-03-29 22:45] ianwallen opened #25 "Problem geonetwork unit test after installing plugin"
Getting errors after installing the HNAP plugin.
Here are the steps to reproduce

[code]
All success
Now add the HNAP schema and perform the last test again.

[code]

It fails with the following error.

[code]

It seems to fail because the test for file "kernel/valid-metadata.iso19139.xml autodetects" is being autodetected as being HNAP.  The autodetect in in schema-indent.xml seems to be correct

[2020-03-30 18:02] ianwallen commented on #10
Had not realized that the geocat was plublic accessible. So that link can stay.
I have also noticed that the links should have been https
I have updated the 3.8 and 3.10 branch and did pull request for the 3.6 branchs.

[2020-04-01 14:47] jodygarnett commented on #12
@ianwallen we just got a clarification via FGP, and Cindy Mitchell indicating the content is invalid:

@josegar74 can we determine why this change was introduced 3.4? Or is it an accident ...

[2020-04-03 15:08] ianwallen commented on #2
We are about to start switching to the 3.10 release (probably after the 3.10.2 release).
So we can probably change the default branch so that it is no longer 3.8

Just wondering, if we want to follow the geonetwork core branch model.  We could place all the 3.10 code into the master and commit to it with cherry picks to the 3.10 release?

[2020-04-09 11:59] ianwallen commented on #2
I would also like to propose that we use Travis builds to verify that the commits are not breaking the integration into the geonetwork.   Theoretically, there should be little impact on the plugin build within geonetwork core.- however since this repo was created, I don't believe there has been any successful build with all unit test.  I found one issue related to the autodetect that was causing i

[2020-04-09 20:29] jodygarnett commented on #2
Due to the design of geonetwork we have found issues that need to be resolved in geonetwork core and then back ported to 3.10.x for the plugin to work. Perhaps we can do a better job cross checking the various pull requests from HNAP issues.

Use of travis or a build server is a very good idea; perhaps open a separate ticket (either here or on geonetwork-core if it is a change appropriate to all t

[2020-04-15 14:39] jodygarnett commented on #2
Can we remove 3.8.x as an active branch now? Has DFO complete updating to 3.10.x?

[2020-04-15 20:30] ianwallen commented on #2
You can make the 3.10.x the default branch.  Is there a reason you want to remove the 3.8.x branch?

There are pull request for bug fixes that target the 3.8.x branch which should also be cherry picked to the 3.10.x branch once they have been approved.

DFO is still working on the 3.10.x upgrade and we don't plan on contributing any new code to the 3.8.x branch.

[2020-04-16 00:36] jodygarnett commented on #2
I would just like to reflect what is under active development (and thus should be considered for porting any fixes).

[2020-04-16 00:36] jodygarnett commented on #5
@davidblasby can this be closed now?

[2020-04-16 01:18] #5 closed, assigned to davidblasby

[2020-04-17 11:57] josegar74 commented on #18
@ianwallen I merged to 3.8.x, let me know if you'll cherry-pick to 3.10.x or want me to do it, then we can close the issue.

[2020-04-17 11:59] #10 closed, assigned to nobody

[2020-04-17 12:01] ianwallen commented on #25
Issue has been resolved - closing issue.

[2020-04-17 12:01] #25 closed, assigned to nobody

[2020-04-17 12:22] ianwallen commented on #18
I have cherry picked the changes to 3.10.x.
Closing the issue

[2020-04-17 12:22] #18 closed, assigned to ianwallen

[2020-04-17 12:27] ianwallen commented on #12
I believe David has fixed this issue. So I believe this can be closed.

[2020-04-17 12:38] ianwallen commented on #2
I believe we should switch the default branch to 3.10.x now. I would do this but I don't believe I have the privileges or I cannot find the location to make the change.

[2020-04-17 12:44] josegar74 commented on #16
I have tried also the iso19139 approach (as described in the PR #26), but indeed something else seem missing as doesn't solve the problem.

Merged the PR as looks working fine, to investigate further.

Let me know if you'll cherry-pick to 3.10.x or want me to do it, then we can close the issue.

[2020-04-17 13:34] ianwallen commented on #16
I have done a cherry-pick of the commit to 3.10.x branch.
Closing the issue.

[2020-04-17 13:34] #16 closed, assigned to nobody

[2020-04-20 23:00] jodygarnett commented on #2
I wanted to bring this [proposal](https://github.com/geonetwork/core-geonetwork/wiki/Host-Geonetwork-artifacts-on-repo.osgeo.org-(Nexus-Artifactory-Repo)) to everyone's attention as it would be very useful for our HNAP group.

[2020-04-20 23:03] #12 closed, assigned to josegar74

[2020-04-29 14:19] geothorne commented on #2
has this issue been resolved?

[2020-05-13 21:14] jodygarnett opened #45 "Any interest in maven build profiles to include additional / replacement content (thesauri,xslt,etc...)"
Forgive me if I word this wrong, I am pulling on a piece of string to describe a challenge.

The HNAP schema also has some keywords thesauri built-in

The HNAP schema (core-geonetwork) has a workflow for adding additional keyword thesauri:

1. Use the admin menu to upload a thesauri

2. Define a template that references the new thesauri

3. Any metadata record created from that template can access

[2020-05-13 22:36] ianwallen commented on #45
Are you asking for geonetwork core or for the HNAP profile?
Are you suggesting something like Metadata 101 for thesauri so that the thesauri could be shared with the public?

I'm not sure if geonetwork has an API for uploading new thesauri (if not, it should not be too difficult to create) -   a script/program could be created for pushing new thesauri and templates using the API..   Or we could us

[2020-05-22 05:36] jodygarnett commented on #45
Hello Ian,

Sorry my discussion topic is not immediately clear, if you wish to add additional keywords (perhaps for your department) it *is* possible via using the admin menu to upload.

Some thesauri make sense to manage as part of the plugin, others may be specific to an installation or even a topic.

Q: Does DFO have department specific thesauri that you manage externally to this plugin?
Would

[2020-05-23 11:08] ianwallen commented on #45
Jody,

No specific thesauri for DFO at the moment. But there may be some in the future.

Adding a DFO specific thesauri to the plugin is possible however if doing this then we should be willing to accept profiles for all departments and they should be structured in a way that make it easy to identify/manage.  If we add a -D for each department then this could get long if a lot of departments join

[2020-05-27 20:59] ianwallen opened #47 "Multilingual resource filename not properly supported."
HNAP plugin currently does not support multilingual gmd:filename.  It seems to be based on the older ECCC/FGP code.

We need to be able to upload multilingual thumbnails and other resources.

Here is what seems to be produced based on the samples.

[code]
Problem
<gmd:fileDescription> is not a real description of the resource. Instead it is a code. Of which the code are very specific to ECCC/FGP.

[2020-06-02 12:26] ianwallen opened #49 "formatters not working for hnap."
I'm not sure where the formatters are used but they currently don't seem to be working.

Did a local build, went to metadata and template -> formatters and attempted to use the HNAP formatters and they all seem to fail with the loaded HNAP templates/sample data (b16db0fe-a4ec-4844-819e-630e33137b6d).

http://localhost:8080/geonetwork/srv/eng/md.format.xml?uuid=b16db0fe-a4ec-4844-819e-630e33137b6d&

[2020-06-03 20:52] jodygarnett commented on #45
I actually found a better example today, the managing of XSLT transformations that take content from other schemas into HNAP could be managed as a build profile. ECCC has just such a transform to go from [3.6.x-ec](https://github.com/metadata101/iso19139.ca.HNAP/tree/3.6.x-ec) to [3.10.x](https://github.com/metadata101/iso19139.ca.HNAP/tree/3.10.x).

[2020-06-06 12:10] ianwallen opened #53 "Rename non EC* thesaurus files to GC*"
I believe we should rename the none ECCC specific thesaurus files to GC.

i.e. I don't believe the `EC_States.rdf` is specific to ECCC and can probably be applied to all government departments so it may be better to have it renamed to `GC_States.rdf`.

As I don't know all the uses for the thesaurus, I believe this should be an ECCC task.

[2020-06-09 15:51] jodygarnett commented on #53
Is it useful to include all the remaining EC* thesaurus in the schema plugin, or should we isolate into a profile (as per https://github.com/metadata101/iso19139.ca.HNAP/issues/45 )

[2020-06-10 00:25] ianwallen commented on #53
I don't have any issues/objections  if EC* remains in HNAP for now and maybe moved later as per #45. Just trying to clarify the current ones so that we know which one are GC and which ones are EC.

[2020-06-15 20:31] ianwallen opened #55 "Sample metadata records don't support add to map"
I the sample "Harbour Porpoise Presence, Maritimes Region" is loaded. Then going to the view the sample record and attempting to "add to map" will produced the following error.

Biota002_MarineMammals_HarbourPorpoise_PH_SJ_Presence
The WMS getCapabilities request failed, Failed to parse GetCapabilities operation response. Try again later or contact service provider.

![image](https://user-images.g

[2020-07-09 19:39] geothorne opened #63 "GC Core and other Thesaurus - not validating in editor"
![GC-Core-Validation-ISSUE](https://user-images.githubusercontent.com/47672199/87073805-f3cd1300-c1eb-11ea-9e3f-878389b2c6ee.PNG)

https://iso19139echnap.geocat.live/geonetwork/srv/eng/catalog.search#/metadata/2aa3a4ff-7c4c-44d0-a4e2-9ab1a1df0d56

[2aa3a4ff-7c4c-44d0-a4e2-9ab1a1df0d56.zip](https://github.com/metadata101/iso19139.ca.HNAP/files/4898943/2aa3a4ff-7c4c-44d0-a4e2-9ab1a1df0d56.zip)

I im

[2020-07-09 19:46] geothorne opened #64 "Metadata Import Validation"
``
[code]

Is this actually a validation error for FGP or NHAP.... not clear to me what the actual issue is. See attached mef.

[2aa3a4ff-7c4c-44d0-a4e2-9ab1a1df0d56.zip](https://github.com/metadata101/iso19139.ca.HNAP/files/4899182/2aa3a4ff-7c4c-44d0-a4e2-9ab1a1df0d56.zip)

Chris

[2020-07-14 15:30] geothorne opened #66 "Online Resource losing content while editing"
for the online resource section of the editor the following behaviour is observed:

If you type the resource name info in English and/or French then choose or modify what was selected for protocol, the resource name information disappears and must be reentered. Is this the expected behaviour? Creates more work for user if they selected the wrong protocol to start.

@davidblasby comment - "It's a i

[2020-07-14 15:45] jodygarnett commented on #53
@geothorne I believe you are looking at simplifying `rdf` files, can we look at this request at the same time.

[2020-07-14 17:29] geothorne opened #67 "Editor French and English Tool help tips"
I would like to understand the process needed to review and edit French and English update help tool. Where do are tips managed within the repository?

[2020-07-15 06:41] josegar74 commented on #64
There're 2 xsd issues:

- [x] - Missing `gml:endPosition`

[code]

Should be:

[code]

- [x] - Duplicate `gmd:supplementalInformation` (one it's empty), cardinality is `0:1`:

[code]

- [x] - All `gmd:descriptiveKeywords` should appear before  `gmd:resourceConstraints`

---

- [ ] - Additionally some schematron rules failing (once `xsd` is fine) related to multilingual `gmd:voice` required

- [x]

[2020-07-15 07:58] josegar74 commented on #63
With https://github.com/metadata101/iso19139.ca.HNAP/pull/60 and the metadata added in #64 works fine, but there's some validation issue with `gmd:administrativeArea `, the original metadata has this value as non-multilingual, but it's expected to be multilingual.

The editor seem adds the element `gmd:PT_FreeText`, but with empty content causing the validation issue:

[code]

If the user fills th

[2020-07-15 13:47] geothorne commented on #64
Ok thanks.... that makes sense, when I imported the record without validation and used the editor to clean up the record. I am able to resolve these issues as well as the #64 see attached update record from GeoCatLive:

[2-metadata-imported-with-minor-edits.zip](https://github.com/metadata101/iso19139.ca.HNAP/files/4925282/2-metadata-imported-with-minor-edits.zip)

HOWEVER, when I export and the r

[2020-07-15 14:04] geothorne commented on #63
In my mind if we were to fix the `QC` to `Quebec`. I am think there is another issue here and that the RDF that holds provinces does not have the provincial code using the '<skos:notation>' element.

Allowing us to convert between PreLabel and Notations terms in the editor.... does GeoNetwork have this use case for managing thesaurus?

This is instead of creating a hard code values within a custom

[2020-07-15 17:04] ianwallen opened #68 "Remove eccc specific data from ckan converter."
The following files

https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/extract-ckan-dataset.xsl#L65-L70

contains the following

[code]

I believe this should be changed to customizable so that DFO can use different values.
I'm not sure on the best approach to do this.

[2020-07-28 19:11] davidblasby commented on #63
Hi,

I've tried to reproduce this issue - but its mostly validating.  The only validation error is unrelated to the thesaurus;

![image](https://user-images.githubusercontent.com/48937730/88710339-5f0f5400-d0cb-11ea-8996-fca9a3c792fd.png)

There's been a lot of recent work on Thesaurus, so the reversion out on LIVE might be old...

Perhaps we can close this issue and re-open another one WRT QC/Que

[2020-07-28 19:18] davidblasby commented on #66
This occurs ONLY when creating a new online resource.

When editing an existing one, its works as expected.

[2020-07-28 21:04] pvgenuchten commented on #66
Maybe the behaviour was introduced to prevent people keeping a wms-layer reference in the name field while switching to the wfs protocol, the wms-layer reference may not be valid for that endpoint as wfs (convention in geonetwork is to use layer/featuretype/coverage reference in onlineresource/name property).

For example the endpoint https://geodata.rivm.nl/geoserver/dank/ows,
for wms layers they

[2020-07-28 21:13] davidblasby commented on #66
I will create an option to change the behaviour, and set "don't clear" as the default.
It also deletes the "description" field as well.
It doesn't do this in "edit" mode, just in "add" mode.

[2020-07-28 22:06] davidblasby commented on #66
https://github.com/geonetwork/core-geonetwork/pull/4894

[2020-08-07 20:51] jodygarnett commented on #2
Updated to indicate 3.11.x as active.

[2020-08-07 20:52] jodygarnett opened #70 "HNAP schema producing test failures in core-geonetwork/services"
@ianwallen you recently added a snippet to `add-schema.sh` to help address this, it seems to no longer be working:

[code]

[2020-08-09 11:54] ianwallen commented on #2
@jodygarnett

I personally don't like having a 3.11.x branch as it is never released.  It looks like Geonetwork core had tried that in the past and then abandoned the idea and simply use master

It looks like the geonetwork core is using something similar to the following gitflow branch management
http://blogs.stonesteps.ca/showpost.aspx?pid=67
Where master contains all development and dedicated r

[2020-08-09 11:59] ianwallen commented on #70
I can look into this - is this based on the latest geonetwork core master?  and the HNAP 3.10.x branch?

What parameters did you pass when you called add-schema.sh?

[2020-08-09 12:02] ianwallen commented on #68
@geothorne could you look into this or have someone from Geocat look into this.

If these are required then we may need to have this updated so that it gets these values from a configuration as we don't want every department to modify the xslt file directly.

[2020-08-10 15:20] geothorne commented on #2
@jodygarnett  and @ianwallen I think I need to understand this more to have any opinion or suggestion. Maybe an item for verbal discussion?

[2020-08-10 16:55] jodygarnett commented on #2
@ianwallen should I rename it to "master" to match core-geonetwork "master" branch?

With 4701 being merged on core-geonetwork master I used the above 3.11.x branch to test the `add-schema.sh` script.

[2020-08-10 17:00] jodygarnett commented on #70
I used the default example from `add-schema.sh`:
[code]

[2020-08-10 17:01] jodygarnett commented on #70
See https://github.com/geonetwork/core-geonetwork/issues/4914 for context

[2020-08-10 19:39] geothorne commented on #68
@ianwallen looking at this further... am I correct to assume that DFO uses this xsl to prepare for CKAN open.canada.ca?

**How/Where is this xsl script? I would like to see/understand how this works within your publishing workflow. **.... I am not even sure if it is being used, from the ECCC prospective we are not currently using this script since we are moving to the more generic ca.HNAP.

If DFO

[2020-08-10 19:54] geothorne commented on #63
@davidblasby I agree with your assessment. Will review again and if required create new Issue

[2020-08-10 19:54] #63 closed, assigned to geothorne

[2020-08-10 19:56] geothorne commented on #55
@ianwallen is this still an issue, can it be closed? Sorry for the house cleaning

[2020-08-11 12:37] geothorne opened #71 "XSLT of napec Project Title and Project Description to can.HNAP 0:1 gmd:supplementalinformation"
Original comments bellow from Jose:

Related to duplicated gmd:supplementalInformation, I found the problem, the element cardinality is 0:1, but can be multiple napec:EC_CorporateInfo/napec:EC_Project elements

An option can be to add all in the same element i different lines, we add now:

  <gco:CharacterString>
  Project; PROJECT TEXT_1
  </gco:CharacterString>

Can be added like:

  <gco:Charac

[2020-08-11 15:59] geothorne commented on #53
@davidblasby please help **Rename** the following RDF's:

**Organizational Prefix's:**
_GC -> Government of Canada_
_ISO -> iso.org_
_NE -> Natural Earth - www.naturalearthdata.com_
_EC -> Environment and Climate Change Canada (Environment Canada)_

**Suffix Acronyms:**
_PAA -> Program Alignment Architecture_
- [x] 1. EC_Core_Subject -> GC_Core_Subject
- [ ] 2. EC_GC_Security_Classification -> GC_

[2020-08-11 17:18] bo-lu opened #72 "Use proper "bold" class to bold text heading"
Replace "bold" class name with WET standard "h6" class name to enable bold text in html template
Ref: https://wet-boew.github.io/wet-boew-styleguide/design/sizing-en.html

Before:

[code]

After:
[code]

Lines of code to change are in line 396 and 410:
/iso19139.nap/src/main/plugin/iso19139.nap/formatter/ec-view/view.xsl

[2020-08-11 19:21] bo-lu commented on #72
Fixed in 6648cf5

[2020-08-11 19:21] #72 closed, assigned to nobody

[2020-08-11 21:38] ianwallen commented on #70
@jodygarnett

Sorry - did not have much time to test.
I quickly did the following
I checkout the master from  geonetwork core  then run
`./add-schema.sh iso19139.ca.HNAP https://github.com/metadata101/iso19139.ca.HNAP 3.11.x`

And then run
`mvn clean install `
I get the following error.

`[ERROR] Failed to execute goal on project services: Could not resolve dependencies for project org.geonetwork-

[2020-08-12 10:50] ianwallen commented on #70
@jodygarnett
In service pom.xml, I changed the group to org.geonetwork-opensource.schemas and I no longer get that error.  But now I get the following error.

[code]

When I compare version 3.11.x version of config-spring-geonetwork.xml
 https://github.com/metadata101/iso19139.ca.HNAP/blob/3.11.x/src/main/resources/config-spring-geonetwork.xml
with version 3.10.x
https://github.com/metadata101/iso

[2020-08-12 10:59] ianwallen commented on #2
@jodygarnett
I think it would be better if we matched the branched between geonetwork core and this repo.  So yes, my preference is that this would be master.  Note that master already exists so this would not be a rename. - I will let you figure this out.

Should we change the default branch to master? All changes would be pushed to master and then cherry picked into 3.10.x like it is done on geo

[2020-08-12 14:16] geothorne opened #74 "Add bilingual EN/FR Titles to RDF's"
Once Rdf's are renamed #53 @davidblasby if you are available can you add the following titles:

rdf-identifier | en-Title | fr-Title
-- | -- | --
EC_Branch | Branch | Direction Générale
GC_Core_Subject | GC Core Subject | Sujet central de la GC
EC_Directorate | Directorate | Direction
GC_Security_Level | GC Security Level | GC Restrictions de manipulation
GC_Geographic_Scope | Geography | Portée G

[2020-08-12 17:29] davidblasby commented on #53
The following are unchanged;

EC_Content_Scope.rdf
EC_Data_Usage_Scope.rdf
EC_Information_Category.rdf
EC_Org_Names
EC_Resource_ContentTypes.rdf

The thesauri are located here;
https://github.com/metadata101/iso19139.ca.HNAP/tree/3.10.x/src/main/config/codelist/local/thesauri/place
and
https://github.com/metadata101/iso19139.ca.HNAP/tree/3.10.x/src/main/config/codelist/local/thesauri/theme

[2020-08-12 17:32] davidblasby commented on #53
The following are NOT part of the metadata101 HNAP - likely uploaded to the running system;

EC_GC_Security_Classification
EC_Program

EC_Directorate
EC_Branch

Nothing to change in metadata101/hnap.  If you want, add a ticket with those .rdf files and I will add them to metadata101/hnap

[2020-08-12 17:35] davidblasby commented on #53
Regarding regions.rdf

This is part of CORE GeoNetwork - https://github.com/geonetwork/core-geonetwork/blob/master/web/src/main/webapp/WEB-INF/data/config/codelist/external/thesauri/place/regions.rdf

Its not something I can just change.

However, I can add add a copy of the regions.rdf and name it as "NE_Global_Regions.rdf".  Is the link, above, the correct content?

[2020-08-12 17:36] davidblasby commented on #53
@geothorne  - please review comments, above.  I'll commit the changes in a little bit - I need to check to see if they are referenced anywhere (and I'll likely change the titles in the same PR).

NOTE - old metadata records will be referencing these files and should be updated (especially with the title changes in another ticket).

[2020-08-12 17:38] jodygarnett commented on #2
I am fine to rename, will need to change the example provided by `add-schema.sh` script also.

[2020-08-12 17:41] jodygarnett commented on #70
Thanks for detecting the schema plugin change, I expect that is a needed change to `add-schema.sh` script.

As for the new failure ... can we recreate `master` (formally `3.11.x`) from the existing 3.10.x and make the appropriate pom.xml changes. I am not sure how well hnap schema plugin has been maintained with respect to compatibility with master...

It may be wise to set up a jenkins build job

[2020-08-12 17:52] davidblasby commented on #74
These as mentioned in #53 these are not in the metadata101/hnap repo;

EC_Branch ---> not in metadata101/HNAP
EC_Directorate ---> not in metadata101/HNAP
GC_Security_Level ---> not in metadata101/HNAP
EC_Program_PAA ---> not in metadata101/HNAP
NE_Global_Regions ---> not in metadata101/HNAP

[2020-08-12 18:46] ianwallen commented on #70
I don't believe master has been used so I don't have any objection with it being recreated from 3.10.x

[2020-08-12 18:48] davidblasby commented on #53
https://github.com/metadata101/iso19139.ca.HNAP/pull/75

[2020-08-12 18:48] davidblasby commented on #74
https://github.com/metadata101/iso19139.ca.HNAP/pull/75

[2020-08-13 13:13] ianwallen commented on #68
@geothorne
We had done a proof of concept in the past where we pushed some data directly to open data.  We used the code the @josegar74 had created for this.  The way it seems to work is that is takes the hnap records and runs it through the ckan xsl file to create a format that is acceptable by open data.  I believe for our test, we may have hard coded the values to be DFO specific.

I believe th

[2020-08-13 13:18] ianwallen commented on #55
Issue is fixed in the 3.10.4 release of GN with the following pull request.
https://github.com/geonetwork/core-geonetwork/pull/4784

So yes we can close the issue.

[2020-08-13 13:18] #55 closed, assigned to nobody

[2020-08-13 15:28] geothorne commented on #45
**ECCC Use Case Example:**
@ianwallen ECCC like many other departments are being asked by TBS to develop a data asset inventory under this there are specific metadata (controlled values) that either ECCC or TBS (to support MAF) are required.

I have been working with the ECCC data asset inventory team to hopefully have our departmental catalogue support the search and discovery of these assets wit

[2020-08-13 16:33] jodygarnett commented on #2
Let's confirm with @josegar74 and do this work next week

[2020-08-13 17:32] geothorne commented on #74
[missing-rdfs.zip](https://github.com/metadata101/iso19139.ca.HNAP/files/5070501/missing-rdfs.zip)

@davidblasby
Here are all but NE_Global_Regions (regions.rdf).
As you mentioned in #53

This is part of CORE GeoNetwork - https://github.com/geonetwork/core-geonetwork/blob/master/web/src/main/webapp/WEB-INF/data/config/codelist/external/thesauri/place/regions.rdf

I currently don't see value in mak

[2020-08-13 17:34] geothorne commented on #53
#74 - regions.rdf should stay in geonetwork-core repo not duplicates

[2020-08-18 15:38] #53 closed, assigned to geothorne, davidblasby

[2020-08-18 15:45] geothorne commented on #68
Currently no plans from ECCC to leverage or update. @josegar74 to remove.

[2020-08-18 15:47] geothorne commented on #71
tested and fixed

[2020-08-18 15:47] #71 closed, assigned to geothorne

[2020-08-18 19:08] geothorne opened #76 "Keyword Thesaurus Responsible party validation error in Editor"
when validating record the Thesaurus returns validation error.

Data Identification : Thesaurus cited responsible party role is required
HNAP validation rules for FGP publication (multilingual)
Data Identification : Thesaurus cited responsible party organisation is required

@
![example](https://user-images.githubusercontent.com/47672199/90554781-5c50cd80-e164-11ea-9da9-11a018fdf0fc.PNG)

Does the

[2020-08-18 19:39] livingstonel opened #77 "Data resource names vs. data resource descriptions: display on metadata profile vs. search results"
Feature: Edit mode > Add associated resources > example: link an online resource.

Users can list both a resource name and a resource description.

In the metadata profile, users can see all information input as part of adding the resource. (ie. file name/resource name, resource description, link to resource (url), etc).
![MetadataProfile-ResourceDetails](https://user-images.githubusercontent.com/

[2020-08-19 10:37] #68 closed, assigned to josegar74

[2020-08-19 10:54] josegar74 commented on #49
@ianwallen For HTML formatter, the url should be (see `md.format.html` instead of `md.format.xml`):

http://localhost:8080/geonetwork/srv/eng/md.format.html?uuid=093bac00-7a3e-44fa-801f-42144834e235&xsl=full_view&schema=iso19139.ca.HNAP

Doesn't seem really to work with xml format, but  if you need xml version you can use the following url:

http://localhost:8080/geonetwork/srv/api/records/093bac0

[2020-08-19 10:58] josegar74 commented on #67
Schema elements labels and tooltips are stored in:

- English: https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/loc/eng/labels.xml

- French: https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/loc/fre/labels.xml

In the following file are documented the elements from previous files:

https://github.com/geonetwork

[2020-08-19 12:10] josegar74 commented on #47
Tested with `ISO19139` metadata using the upload thumbnail dialog, but should be similar with HNAP:

![add-thumbnail](https://user-images.githubusercontent.com/1695003/90632843-5969e180-e225-11ea-9503-bbb483bcd0b1.png)

The snippet created is the following:

[code]

The `Resource name` field is stored in the `gmd:description` field, while `gmd:fileName` stores the full (there's a migration task to

[2020-08-19 12:16] ianwallen commented on #49
@josegar74 you are correct that the `html` formatter works better than the `xml` formatter.
I was just pointing out that these interface seems to be buggy with these formatters.  I would generally expect it to display a message saying that that formatter is unsupported or display something.  But instead it is generating errors on the page and in the logs.

As I mentioned in the issue, I'm not sure

[2020-08-19 12:29] josegar74 commented on #49
@ianwallen right, it's not related to HNAP, as fails also for `iso19139`, the `md.format` service accepts a format, but requires also to indicate the xslt that provides the response, that currently doesn't exists for xml.

I just remember we did this for other schema, see https://github.com/metadata101/iso19139.nl.geografie.2.0.0/tree/3.10.x/src/main/plugin/iso19139.nl.geografie.2.0.0/formatter/xm

[2020-08-19 15:53] ianwallen commented on #47
I as suggesting that the fileName should support multilingual such as the following.

         <gmd:fileName>
            <gco:CharacterString>Ricker_Beam_Trawl_Transects_Map.JPG</gco:CharacterString>
             <gmd:PT_FreeText>
              <gmd:textGroup>
                <gmd:LocalisedCharacterString xmlns="" locale="#fra">Ricker_Beam_Trawl_Transects_Map.JPG</gmd:LocalisedCharacterString>

[2020-08-19 16:01] ianwallen commented on #47
@josegar74 - regarding "(there's a migration task to handled existing metadata)"
What is the approach of he migration task? Is it just to add the missing translation in gmd:fileDescription?  And is FGP going to accept the French and English thumbnails being shown on both languages?

I also just noticed that your example has the following output.

[code]
I believe version 3.10.x fixed this issues w

[2020-08-19 20:53] davidblasby commented on #74
Added thesauri - https://github.com/metadata101/iso19139.ca.HNAP/pull/78

[2020-08-19 21:06] davidblasby commented on #76
@geothorne - I think this has been fixed.  Please wait for the next release.

[2020-08-20 10:45] ianwallen commented on #49
@josegar74.
Regarding "the md.format service accepts a format, but requires also to indicate the xslt that provides the response, that currently doesn't exists for xml."

I don't believe we need to created the xslt because to my knowledge we don't have a requirement for this functionality.  However I think it would be good if the xslt that provides the response does not exist then it should simply

[2020-08-25 15:25] geothorne opened #81 "gmd:voice fix xslt sample"
I need some help in creating an xslt or XQuery that updates all gdm:voice to be bilingual. is there an existing sample maybe in this repo that could help me?

If not null Change from:
[code]
Changed to:
[code]

[2020-08-26 10:53] ianwallen commented on #81
@geothorne,

It is a little more complex than that.
locale="#fra" needs to be the alt language.  So if the main language is fra then it should get switched to eng and vice versa.  Also fre is the codelist value, the id can be anything - i.e. #FR, #FRA,#fra, .... So the id should be taken from the locales that matches the codelist that is desired otherwise using #fra may be incorrect.

This logic s

[2020-08-26 15:06] ianwallen commented on #81
@geothorne
Did a small test editing the voice (which ends up calling the update-fixed-info.xls)

Looks like it will convert

[code]

to
[code]

Not exactly what you were looking for.  It seems odd that it is placing an empty `<gmd:PT_FreeText/>`. Not sure if this is a bug?

Either case, the code in update-fixed-info.xls that I referenced will hopefully help you with creating the xsl.

[2020-08-27 15:41] jodygarnett commented on #2
Notes on *master* branch:

* likely to change to *main* in future (see Black lives matters changes at git and github level)
* not sure we expect this to be maintained if nobody is running/testing master
* trade off: continual overhead of backporting, or larger effort to upgrade/test when 3.12 is released

tradeoff discussion:

- Ian: Consider working on 3.10.x , and forward port changes to "master

[2020-08-27 15:58] jodygarnett opened #84 "management of schema, naming, thesauri with QA examples across branches"
We have a number of active branches, and would like to share:

* Tracking HNAP profile
* Collect "official" thesauri in use by different organizations
* Gradually collect example records that have caused validation problems

The discussion can work on the governance over time, the technical side is handled in other tickets.

[2020-08-27 16:10] jodygarnett commented on #84
An area of interest is validation, example:

Consider:

* Address via test cases in 3.10.x that match the restrictions of FGP 3.6.x branch

[2020-09-09 19:34] livingstonel opened #87 "Publication of new records / publication of updates - Workflow Issues"
**Publication of new drafts:**
Need re-confirmation – if an editor submits metadata for review, the CR can approve the metadata OR publish (which approves the metadata by default) correct? Or, if the metadata is submitted, the CR must approve THEN publish - separate actions?

- In testing, I can approve the review of the metadata, then publish.
- I cannot publish submitted metadata without approvi

[2020-09-11 13:40] ianwallen opened #88 "Metadata tab missing from advanced view."
Geonetwork core has a metadata tab in the advanced view. But this does not exists in hnap
![image](https://user-images.githubusercontent.com/1868233/92932149-dc441d80-f41a-11ea-97d5-01ec7e64d5b0.png)

Looking to see the file identifier and other metadata information

I would expect the metadata standard fields to also be displayed as non editable field.

Odd that there is a language under identifi

[2020-09-11 14:50] ianwallen opened #89 "Issue importing and validating hnap data."
Unable to import FGP data into catalog while checking the validate option.

![image](https://user-images.githubusercontent.com/1868233/92939156-d141bb00-f423-11ea-9347-c2ec68818fad.png)

I have uploaded a zip file containing 3 files.
- TestXmlll.html - test file used for testing.
- TestXmlll_stripped_downfails.xml - Stripped down version which still generated the JDOM error.
- TestXmlll_stripped_d

[2020-09-14 07:02] josegar74 commented on #87
- In the editor board the, the working copy of the metadata is gray (unknown validation) with a question mark icon (despite my validating as the editor).

Created this issue about the validation in GeoNetwork opensource project as is not only related to HNAP: https://github.com/geonetwork/core-geonetwork/issues/5008

Seem fixed by https://github.com/geonetwork/core-geonetwork/pull/4996

- When I c

[2020-09-19 11:35] ianwallen commented on #64
Regarding JDOMException issue
See https://github.com/metadata101/iso19139.ca.HNAP/issues/89

[2020-09-22 15:37] ianwallen commented on #89
I believe that when running import, the update-fixed-info.xsl is not called however when running the validate from the editor, it does run the update-fixed-info.xsl before the validation.  Note sure if update-fixed-info.xsl is fixing part of the issue?

[2020-09-24 15:49] geothorne commented on #81
@davidblasby so I guess this null element tag cause a validation error?
In my mind one number should be valid. Who has to a phone numbers for french separate from English?

I would love to have the validation less restrictive within ca.HNAP, but not sure if this is a core HNAP requirement

[2020-09-24 18:20] ianwallen opened #92 "Thumbnails with description set to thumbnail_fre and large_thumbnail_fre are not imported correctly"
Metadata which includes French thumbnail (gmd:fileDescription = thumbnail_fre and large_thumbnail_fre) are not imported correctly.

Looks like thumbnail_fre and large_thumbnail_fre is being ignored when updating/adding http:// to the gmd:fileName during import.

![image](https://user-images.githubusercontent.com/1868233/94183394-bede6d00-fe78-11ea-984c-373bff32f8ff.png)

Before import this is the

[2020-09-24 18:21] ianwallen commented on #92
This is related to https://github.com/metadata101/iso19139.ca.HNAP/issues/47 .

[2020-09-24 19:43] ianwallen commented on #81
I suspect that the phone number would be different for French and English in the case of a support system where different group of people support different languages. Modern day support system generally only have one phone number and ask users to pick a language.
I'm not sure if there is any data that uses a different number per language?

I wonder if the update-fix is corrected to remove  the emp

[2020-10-05 07:46] jodygarnett opened #94 "iso19139.ca.HNAP release"
A couple things for a release, based on core-genetwork example:

* [x] commit changing from `3.10.4-SNAPSHOT` to `3.10.4`
* [x] tag the above commit
* [x] mark the tag as a release in GitHub, fill in some release notes
* [x] attach `jar` and `zip` to release
* [x] commit changing from `3.10.4` to `3.10.5-SNAPSHOT` to match the `3.10.x` branch.
* [x] Create a `3.10.4` milestone to collect a list of

[2020-10-05 07:54] jodygarnett commented on #94
Created a milestone to easily manage issues and PRs for release notes.

[2020-10-05 07:54] #94 closed, assigned to nobody

[2020-10-06 17:57] ianwallen opened #95 "resource structured description control to assist filling in multi-lingual content with content type, format and language"
When importing data from FGP, we see that the resource descriptions seems to contains multiple fields.

![image](https://user-images.githubusercontent.com/1868233/95240945-7bbebb00-07e3-11eb-9d9d-868ba6a1b955.png)

The same field on FGP looks like the following

![image](https://user-images.githubusercontent.com/1868233/95240665-1ec30500-07e3-11eb-8066-13d1976d03d8.png)

I don't believe that using

[2020-10-07 12:51] ianwallen commented on #94
@jodygarnett - I see that you created the 3.10.4 milestone but I also see that it is still open?  Should it remain open?
Should there be a new 3.10.5 milestone so that we apply new changes to this milestone?

[2020-10-08 14:38] jodygarnett commented on #95
The same issue, placing multiple "fields" into a free form text, was used for organization name:

* UI: A custom control was made to support this, it may be used here also?
* Validation: I think schematron rules are used to check that this structure, separated by `;` is maintained.

[2020-10-08 14:47] jodygarnett commented on #92
Discussion:

- @josegar74: This naming convention was introduced to identify thumbnails for different languages ...
- @jodygarnett: If this is a useful change perhaps a proposal for core-geonetwork?
- @ianwallen: use free text field for filename (would be a general way to approach this formally, rather than a naming convention)

[2020-10-13 14:47] ianwallen opened #96 "Should have consistent language links in editor for organization selector"
The language links are not consistently in the same order.

In the screenshot below we can see that the organization selector has Francais and then English but the other fields have English and then Francais.

![image](https://user-images.githubusercontent.com/1868233/95875283-3e5caf00-0d48-11eb-96b0-582d3ba11661.png)

Tried to create new record based on different templates. some are correct and s

[2020-10-20 03:26] jodygarnett opened #97 "Interesting challenge for non GC_Open_license.rdf use"
I have an interesting challenge for non GC use, the file [schematron-rules-non-multilingual.sch#L136-L151](https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/schematron/schematron-rules-non-multilingual.sch#L136-L151)

[code]

The above rule wants to ensure the record is available as one of the approved open data licenses defined by `GC_Open_licenses.rdf`

[2020-10-20 13:44] ianwallen commented on #97
I would expect that you would have similar issues with the organization names and other thesaurus?
As this organization is not GC - it sounds like they should be using their own thesaurus - So maybe the schematron needs to be modified so support an option to supply the thesaurus to use.
It would be similar to option "b)" but instead of replacing GC_Open_licenses.rdf and putting data that is not GC

[2020-10-20 13:49] ianwallen opened #98 "org selector issue - Thesaurus cited responsible party organisation is required"
Getting the following error.

Thesaurus cited responsible party organisation is required
![image](https://user-images.githubusercontent.com/1868233/96595151-bfc0be00-12c1-11eb-827e-27282190345b.png)

When I look at the xml I see the following.

[code]

It should be placing the english text into the gco:CharacterString instead of gmd:LocalisedCharacterString

[2020-10-20 13:56] ianwallen opened #99 "Org selected - incorrect error/too many errors"
The following

![image](https://user-images.githubusercontent.com/1868233/96596012-a3715100-12c2-11eb-8f24-999532fb463b.png)

Generates the following error.

![image](https://user-images.githubusercontent.com/1868233/96595943-90f71780-12c2-11eb-9e75-be68d8648646.png)

There are a couple issues.
1 - The org name is correct and the error is incorrect.
2 - If the org name is not correct it should onl

[2020-10-20 14:57] ianwallen commented on #98
@davidblasby Do you know quickly what could be causing this issue?  We cannot add the thesaurus because it requires and organization and the organization will fail the validation due to the data being stored incorrectly.
If you don't have any ideas on the cause, then let me know and I will try to debug this...

Thank you

[2020-10-20 20:51] jodygarnett commented on #97
You can see an experiment here - https://github.com/GeoCat/experiment-hnap
Right now the war overlay over-writes those two files.

We should consider adding options as you describe longer term.

[2020-10-23 14:47] jodygarnett commented on #95
I think the same approach can be followed, updating the ticket to describe the work needed.

[2020-10-23 20:51] ianwallen opened #106 "Issue with protocol drop down list."
The drop down list is using the iso19139 dropdown list.

![image](https://user-images.githubusercontent.com/1868233/97052722-ebf56c80-1557-11eb-9761-5ceb3a0879de.png)

On FGP it is a help list.

![image](https://user-images.githubusercontent.com/1868233/97052821-121b0c80-1558-11eb-9eda-36f1737ed478.png)

I have fixed the issue where the wrong selection list was being selected and I added a REST AP

[2020-10-26 14:43] geothorne commented on #87
For brand new record scenario with just a submitted draft the publish (approved by default feature) is worked. It was a admin setting option that needed to be enabled within the workflow config section. ie. "Allow publication of non-approved metadata"

Once fist published and a new work copy is created, validate and then re submitted for review the CR is unable to to access the working copy throug

[2020-10-27 10:46] ianwallen opened #107 "POM issues with duplicate dependency and odd test resources"
Anyone know why we have the same dependency artifact twice in the pom.xml?

[code]
Also anyone know why the plugin folder is marked as a test resource and why there is reference to a test resource folder that does not exists?

[code]

I noticed that these same issues exist in schema iso19139 - So may be they were copied over from there?

[2020-10-27 13:50] jodygarnett opened #108 "config-editor.xml missing gmd:useLimitation keyword picker"
It is quite hard to enter open license values by hand, to pass validation.

Updating `config-editor.xml` to use keyword picker recommend:
[code]

[2020-10-27 13:51] jodygarnett commented on #108
Not sure what `data-focus-to-input` does above (example copied from `gmd:country`).

@ianwallen do you know what this setting does or can I remove it?

[2020-10-27 15:26] ianwallen commented on #108
@jodygarnett It seems like a flag that indicates if the field should be focused after switching the language.
I tried it with a "true" values and I did not like the way the switch language worked.
The default in the code seems to be true so best to keep it to false like the others.

[2020-10-27 17:20] ianwallen commented on #108
@jodygarnett - I see that you committed you changes. directly into the branch In the future it is recommended that you create a PR so that it can be reviewed first.

I have a bunch of PR - but nobody is reviewing them - so I will probably do like you and just push them through.  We should have a better protocol for this....

[2020-10-28 11:25] ianwallen opened #112 "NAP schema email change question"
Was the following change to the NAP specification done for ECCC or FGP? Is this an HNAP requirement? Can this be done via the schematron.  It seems odd to modify the NAP specification for one change?  Just wondering if this should be reverted?

https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/schema/gmd/citation.xsd#L87

![image](https://user-images.gith

[2020-10-28 11:26] ianwallen commented on #112
@geothorne
Would you be able to answer this question?

[2020-10-28 22:01] jodygarnett commented on #97
Option (b) is working, going to mark this as addressed.

[2020-10-28 22:01] #97 closed, assigned to jodygarnett

[2020-10-29 00:51] jodygarnett opened #113 "Check for Government of Canada Core Subject Thesaurus (or GC Core Subject)"
There is an odd inconsistency preventing validating:

The check in `schematrong-rules-common.sch` for:
[code]

Does not match with `GC_Core_Subject.rdf` has the following title:
[code]

[2020-10-29 00:52] jodygarnett commented on #113
I am going to assume that the `Government of Canada Core Subject Thesaurus` is correct.

[2020-10-30 19:12] #99 closed, assigned to nobody

[2020-11-02 11:23] #108 closed, assigned to nobody

[2020-11-02 17:16] jodygarnett commented on #108
I think I always try to use rebase from a PR.

I did check your PRs, and asked José also. I did not want to merge without
testing locally first (since I am not good enough at xslt to read and
understand the consequences).

Jody

On Tue, Oct 27, 2020 at 10:20 AM Ian <notifications@github.com> wrote:

--
--
Jody Garnett

[2020-11-02 21:01] #113 closed, assigned to nobody

[2020-11-03 20:55] jodygarnett commented on #95
Aside: I find it odd to see the structured field capturing `pdf` format,  as format is already available is it not?
[code]

But as you say if this is what FGP is checking we will need a hand doing the data entry.

[2020-11-04 12:37] ianwallen commented on #95
`gmd:MD_Format` is for the `gmd:distributionFormat` which is separate from the `gmd:CI_OnlineResource` so I'm not sure what a full sample would look like?

Also, it seem that even if we did identify a better location to put the data, HNAP has already made the decision to put it in this format.   The only thing we can hope is that they have changed this hack in future releases of HNAP.

[2020-11-04 15:17] jodygarnett opened #118 "Replacing nap.geogratis.gc.ca service with schemas.metadata.geo.ca"
The http://nap.geogratis.gc.ca/ server is decommissioned making this issue now critical (ie actively broken) and the metadata documents being published cannot be used by external tools.  We are looking for a 5 to 10 year decision here, although realistically documents like these do not expire and are useful as a historical record.

Some good ideas from meeting (following the OGC opengis and w3c ex

[2020-11-04 16:07] josegar74 commented on #118
The problem I think is that online xsd are not updated in http://nap.geogratis.gc.ca/ server, containing old versions.

Alternatively an option can be to define the schema location to use the local xsd's. For example for iso19139, in this test server: https://vanilla.geocat.net/geonetwork/xml/schemas/iso19139/schema/gmd/gmd.xsd, but probably requires some code changes to be able to replace the url

[2020-11-04 16:39] jodygarnett commented on #118
Thanks, I have updated the description to be more clear.

Just to confirm this is an hnap problem, and not something to report to core-geonetwork?

[2020-11-05 17:07] jodygarnett commented on #118
Notes:

* The http://nap.geogratis.gc.ca/metadata/tools/schemas/metadata/can-cgsb-171.100-2009-a/ is publishing from 2013, our internal ones use versions from 2012
* Not in a position to upgrade without coordination with DFO, FGP, ECC, etc...
* Pointing to vanilla.geocat.net is probably not good, but we could reference an FGP server (for example)

Ideas:

* Consider talking to http://nap.geogratis

[2020-11-05 17:15] jodygarnett commented on #118
Notes:

* @ianwallen has a PR to upgrade to the 2013 schemas above, but this requires coordination across DFO, ECCC, FGP

[2020-11-05 17:17] ianwallen commented on #118
I did do a branch that performs the upgrade.
https://github.com/ianwallen/iso19139.ca.HNAP/tree/NAP_upgrade_2013
Not sure if upgrading will cause any issues.

[2020-11-05 17:21] jodygarnett commented on #112
So the official hnap is optional, and our internal schema has this as required.

Options:
- Change to validation via schematron?
- Suggestion: make a config option, so ECCC can keep this restrictions.

[2020-11-05 17:23] jodygarnett commented on #118
Other examples of "internal" changes that may or may not provide value:

* See https://github.com/metadata101/iso19139.ca.HNAP/issues/112 email manditory, rather than optional
* Multilingual phone number and email address

[2020-11-05 17:36] jodygarnett commented on #118
Assigning to @bo-lu and @geothorne to coordinate a course of action:

* option 1: Upgrade HNAP from 2012 to 2013, would manage all branches as per NAP_upgrade_2013 above
* option 2: Publish the HNAP 2012 schemas somewhere (negotiate with nap.geogratis.gc.ca or provide a public server)

[2020-11-06 12:27] ianwallen commented on #118
If this issue is fixed then I believe it will also fix issue #89

[2020-11-06 21:03] jodygarnett commented on #107
Q: Anyone know why we have the same dependency artifact twice in the pom.xml?
A: Those are two different things:

* `core` references https://github.com/geonetwork/core-geonetwork/tree/master/core
* `schema-core` references https://github.com/geonetwork/core-geonetwork/tree/master/schemas/schema-core

`schema-core` publishes a couple different artifacts:

* `jar`used to help write schema plugins
*

[2020-11-06 21:07] jodygarnett commented on #107
Q: Also anyone know why the plugin folder is marked as a test resource and why there is reference to a test resource folder that does not exists?
A: This is indeed hard to figure out and I am not sure I have it right

We need the plugin `iso19139.ca.HNAP` content available to run tests against it:

* It is packaged for other modules as a `zip`, ... web app for example can depend on the `zip` and i

[2020-11-06 21:08] jodygarnett commented on #107
I guess a fix for this would be to better document how schema plugins are written and tested.

[2020-11-06 21:52] ianwallen commented on #107
My eyes were playing games with me - I did not notice core vs schema-core.  My mistake ignore that issue.

Regarding the testResource - I believe some plugins have this and some don't. i.e. iso19115-3.2018, dublin-core.
I find the reason I noticed is because Intellij treats test resources differently than the other (i.e. shades the files/folders different colors). This is a little annoying because

[2020-11-06 21:53] jodygarnett commented on #45
I opened this as a discussion, wanted to share the approach I have been successful with thus far.

For the most part I have being using war overlay:

* To provide replacement for webapp/initilization` files like `GC_Org_names.rdf` or `GC_Open_Licenses.rdf` (see [example](https://github.com/GeoCat/experiment-hnap/tree/master/web/src/main/webapp/initialization/settings/thesaurus) )
* To overlay repl

[2020-11-06 22:03] jodygarnett commented on #2
Note core-geonetwork `4.0.x` branch which is now released ... it is unclear what is next. My assumption is:

* `4.0.x` ➡️ `main`
* `master` ➡️ `3.12.x`

[2020-11-06 22:46] jodygarnett commented on #94
I should of closed it, sorry I am learning the system.

[2020-11-09 12:41] ianwallen commented on #45
@jodygarnett  The approach you took of overwriting the code list is better than a fork however you still need to manage a separate repository for the overlay.

A lot of the NAP codelist point to Geogratis. I don't believe those can be changed. Are there any cases where we have custom codelists identified in the metadata records as real codelist?  If they are then I believe these codelists are supp

[2020-11-09 16:46] ianwallen opened #122 "Extent Description field does not show up in the Basic View"
Extent Description field is and option HNAP field.  If a value is entered from the advanced view, the value does  not show up in the Basic View

As this is part of the HNAP fields, it should display in the basic view.

[2020-11-09 16:46] ianwallen commented on #122
I have tried to edit the config-editor.xml file to add the field however I cannot figure out how to add the field.

[2020-11-10 11:32] ianwallen commented on #88
Tab was there but it was not displayed due to missing string values.

![image](https://user-images.githubusercontent.com/1868233/98668612-80b4e400-2326-11eb-8290-98ded85239b2.png)

It was fixed in the following commit.

https://github.com/metadata101/iso19139.ca.HNAP/commit/46995fca7637cad8d2620b963284c40394a94f88

[2020-11-10 11:32] #88 closed, assigned to nobody

[2020-11-10 14:25] ianwallen commented on #122
I have attempted to show the gmd:extent/*/gmd:description on the basic editor by adding the following to the config-editor.xml

[code]

The field does not show up because of the following lines of code in the iso19139.

https://github.com/geonetwork/core-geonetwork/blob/master/schemas/iso19139/src/main/plugin/iso19139/layout/layout-custom-fields.xsl#L306-L314

[code]

According to the comment, the

[2020-11-11 16:35] ianwallen commented on #122
@josegar74 would you be able to answer the 2 questions I have in the last comment?

Thank you

[2020-11-12 07:06] josegar74 commented on #122
In ISO19139 editor, it's displayed properly:

![mapwidget-description](https://user-images.githubusercontent.com/1695003/98906701-dcfe3c00-24bd-11eb-9984-10ef7aab71b8.png)

This code handles it:

https://github.com/geonetwork/core-geonetwork/blob/21457610e173327bc8f0637ef330bc80241d7d51/schemas/iso19139/src/main/plugin/iso19139/layout/layout-custom-fields.xsl#L261-L266

[code]

The problem seem th

[2020-11-12 12:44] ianwallen commented on #122
@josegar74
I attempted to add this code however the issue with the widget is that it does not support multilingual descriptions as it has
`and not($metadataIsMultilingual)`

So I have created a PR https://github.com/geonetwork/core-geonetwork/pull/5185 to update the iso19139 so that it does not remove the gmd:description if it is multilingual.

[2020-11-12 13:28] ianwallen commented on #2
@jodygarnett
I wonder how the upgrade paths are going to work if GN continues to support multiple active version as you indicate.
I believe GN only supports a linear upgrade path with the migration scripts.

Since 3.10.4, there has also been a release 4.0
As there are 2 version it can mess up the migration path in the following scenario

3.10.4  ➡️ 3.10.5  ➡️ 3.10.6  ➡️ 4.0.0

In this case I belie

[2020-11-12 18:07] ianwallen opened #128 "Some translation required"
Looking at the following location I can see that there are still some English text that needs some French translation.

https://github.com/metadata101/iso19139.ca.HNAP/tree/3.10.x/src/main/plugin/iso19139.ca.HNAP/loc/fre

i.e.
https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/loc/fre/schematron-rules-common.xml#L24

https://github.com/metadata101/iso19139

[2020-11-12 19:54] jodygarnett commented on #2
That is tricky, this may be a question for @josegar74 and the GeoNetwork PSC:

Since each branch has its own migration scripts it may be manageable if done in stages. So if we are looking ahead to a `3.0.6` and a `4.0.1` release:

1. The `3.x` branch could always contain the stable 3.x upgrade steps:

   *  `3.0.4` ➡️ `3.0.5` ➡️ `3.0.6` update

2. And the `4.x` branch could focus on migrating from

[2020-11-13 14:36] ianwallen opened #130 "record formatters/xml not returning record that is valid."
Steps to reproduce.

Create a metadata record.  (can use sample metadata records)
Ensure that it is valid

Use the following api to get the xml record.
/{portal}/api/0.1/records/{metadataUuid}/formatters/xml
http://localhost/geonetwork/doc/api/index.html#/records/getRecordAsXmlOrJSON_1

Now attempt to load and validate this record with FGP

In our example - when we attempted to load the record to

[2020-11-13 15:16] ianwallen commented on #130
I can get similar errors if I do the following quicker steps.

1 - Updated settings to remove the schema location when validating

![image](https://user-images.githubusercontent.com/1868233/99087307-ff1cba80-25a0-11eb-8cdf-a21eb5b18c1c.png)

2 - load sample data (which should include "Harbour Porpoise Presence, Maritimes Region")
3 - export the sample record as a zip
4 - attempt to import the samp

[2020-11-13 15:39] ianwallen commented on #130
Checked the database and the invalid xml is what is stored in the database.

[2020-11-18 16:25] jodygarnett commented on #95
Some discussion:

Looking at using `combiner` based on organization name [example](https://github.com/geonetwork/core-geonetwork/blob/master/web-ui/src/main/resources/catalog/components/edit/multientrycombiner/MultiEntryCombiner.js#L94-L123):
[code]

Approach:

* Update resources to use multi-combiner as an experiment that does not require change to core-geonetwork
* Use current multi-combiner, bu

[2020-11-19 11:22] ianwallen commented on #95
@jodygarnett
I think that is a good idea.

I don't understand the restriction to 1 language?  It should work with multiple languages the same way the org selector does.

[2020-11-19 16:58] jodygarnett commented on #118
Discussion on where to publish:

* As a group we have access to http://nap.geogratis.gc.ca/metadata/tools/schemas/ server
* The server is being replaced, so a new server will need to take over this domain
* The structure above appears to be accidental, cannot figure out the naming convention

  * http://nap.geogratis.gc.ca/metadata/tools/schemas/metadata/can-cgsb-171.100-2009-a/

  Ideally we will

[2020-11-20 03:20] jodygarnett opened #132 "bundle hnap user manual as docs folder, publish online as github pages for this repository"
I would like to propose an hnap user manual, using the following structure:

* `docs/` published as github pages (a repository settings change option rather than `gh-pages` branch)
* `src/sphinx` sphinx `rst` documentation
* `pom.xml` goals to to build docs if sphinx-build installed and publish into docs folder

# user documentation

User focused documentation in contrast the the geonetwork user m

[2020-11-20 07:24] josegar74 commented on #130
@ianwallen please check https://github.com/metadata101/iso19139.ca.HNAP/pull/133

[2020-11-20 11:21] #130 closed, assigned to nobody

[2020-11-20 17:49] jodygarnett commented on #107
I see, it is indeed inconsistent with IntilliJ practice.

While I cannot think of a quick fix, here is an approach:

* Register `src/main/plugin/iso19139.ca.HNAP` folder as `resource`, it would I suspect be available for testing, and show up as source content in IntilliJ
* make a custom jar assembly that excludes this content
* the content is already packaged in custom zip assembly

[2020-11-20 17:50] jodygarnett commented on #106
Marking this as closed based on #105 above.

[2020-11-20 17:52] jodygarnett commented on #67
Closing this as answered.

[2020-11-20 17:52] #67 closed, assigned to jodygarnett, josegar74

[2020-11-20 17:57] jodygarnett commented on #45
Marking this as resolved, it appears customizations can be handled as an overlay, rather than build profiles.

Your feedback above is valid @ianwallen, the use-case above was for canadian, but not government of canada, use. So not all the department names or open data licenses were applicable.

[2020-11-20 17:57] #45 closed, assigned to nobody

[2020-11-20 22:38] jodygarnett opened #135 "Inconsistencies showing date in xml, default display mode, and full display mode"
Sample data shows inconsistencies between date displayed in `xml`, `default` display mode, and `full` display mode.

*Ocean Salmon Program* `b16db0fe-a4ec-4844-819e-630e33137b6d`
* dateStamp: `2018-12-17T12:41:20` (displayed full `Mon Dec 17 2018 12:41:20 GMT-0800`)
* created: `1993` (display full: `1992` default `1992-12-31` )
* published: `2018` (display full `2017`)
* revision: `2018-12` (displ

[2020-11-21 12:41] ianwallen commented on #107
@jodygarnett

I believe that approach would work.  And your suspicions are correct that it should be available for testing.

[2020-11-21 12:57] ianwallen commented on #132
I believe this is a good idea but I believe we want to avoid duplicating content that should be in the main geonetwork docs as it will be difficult to maintain.

I believe we should submit suggestions to the geonetwork doc repo to remove administrative tasks from the user guide and clean it up..   I do agree that there is some content in the user guide that may confuse the general users and it sho

[2020-11-21 13:01] ianwallen commented on #106
@jodygarnett
Reopening. I modified the content of the drop down list in #105 however it is still not a true helper list.  Last I recall it is a selection box.  So if the data in the metadata record contains ABCD then when editing the record, since ABCD is not in the list, it will not select anything and then we we save the record it will loose ABCD.  So we still need to fix the selection so that i

[2020-11-21 13:16] ianwallen commented on #135
I suspect that some of the issues are related to timezone.

i.e.
publication: 2018 (display full: 2017)

2018 in the metadata record.
2018  -0700  due to your timezone give 2017-12-31-17:00 when then gets truncated to 2017

Not sure how easy this will be to fix.
Suggestion - Since all dates are being indexes as GMT - I would suggest that all times displayed are also in GMT (not the users timezone)

[2020-11-23 05:58] jodygarnett commented on #135
Yes it is very much related to timezone, @juanluisrp has been working on ISODate fixes in other branch, so I expect this will be resolved over time (no pun intended).

I would like to keep this ticket open to use for testing any ISODate fix, and wanted to make a note of how confusing this was for evaluating https://github.com/metadata101/iso19139.ca.HNAP/pull/134 fix.

Aside: I should note that fo

[2020-11-23 06:11] jodygarnett commented on #132
I am not sure about overlapping with geonetwork docs, viewing it more as a reference manual than a user guide at present.

We can discuss the table of contents if there is interest in pursing this.
- searching is really all the stuff a website visitor can do. So has information on using classification to filter results, or the facets to quickly search content. And has information on exporting reco

[2020-11-23 06:23] fxprunayre commented on #132
Not sure it can help, but FYI, some time ago for Wallonia region which is using custom editor views we also tried to build editor documentation based on the configuration of the editor (see https://github.com/geonetwork/core-geonetwork/tree/master/docs/schema-doc/src/main/resources and https://github.com/geonetwork/core-geonetwork/tree/master/schemas/iso19139/doc) with screenshots, XML snippet and

[2020-11-23 06:23] fxprunayre commented on #135
This would be solved by https://github.com/geonetwork/core-geonetwork/pull/5061 and https://github.com/geonetwork/core-geonetwork/issues/1970. A workaround (for the JS app) for now is to shift date to the server timezone UtilityDirective.js.

[2020-11-23 07:17] jodygarnett commented on #107
Okay, that way would work but was a lot of work duplicating the `jar` assembly. Eventually I found an easier approach configuring the `maven-jar-plugin`:

[code]

And no longer displayed as testResource:

![image](https://user-images.githubusercontent.com/629681/99936773-ca370300-2d18-11eb-8b82-e0fd5ab808a7.png)

[2020-11-23 16:02] ianwallen commented on #135
@jodygarnett
I think gco:DateTime supports dates with timzeones

https://www.wmo.int/schemas/wmdr/1.0RC4/documentation/schemadoc/schemas/basicTypes_xsd_1/elements/DateTime.html

as it is based on xs:dateTime

https://www.w3schools.com/xml/schema_dtypes_date.asp

So it seems that `2018-09-21T12:08:41Z`  would also be a good date to add to your test.

It would also be nice if the time picker support

[2020-11-23 19:42] jodygarnett commented on #132
That is really cool @fxprunayre!

So if I understand correctly that is overriding some screen snaps, and `rst-writer.xsl` to generate out rst for sphinx to use. 🆒

I was thinking something similar to how OSGeoLive handles translations:

iso19139:
[code]

iso19139.ca.HNAP:
[code]

For context the above proposal is to do this at a community level, rather than build up addition docs exclusive to our

[2020-11-24 00:22] jodygarnett commented on #135
Actually looking at the dateStamp `2018-12-17T12:41:20` it seems correct, as my server is running in PST and this shows up as with GMT-0700.

[2020-11-25 07:18] josegar74 commented on #87
@livingstonel I've done this test, using the latest version of the schema and GeoNetwork 3.10.5

- Users: `editor` and `reviewer`

- `editor` creates a metadata, validates it and submits for approval
- `reviewer` approve and publishes it
- `editor` edits the metadata, creating a draft copy and validates it:

![editor-draft-copy](https://user-images.githubusercontent.com/1695003/100194624-4b97bc80-

[2020-11-28 01:00] #107 closed, assigned to jodygarnett

[2020-11-28 01:00] jodygarnett commented on #95
This was just intended to limit scope to test if the multi-combiner control would work.

[2020-11-28 01:12] jodygarnett commented on #95
I started an experiment with multi-combiner here: https://github.com/metadata101/iso19139.ca.HNAP/tree/description_combiner

Approach:

My approach is:

1. add settings to enable this approach
2. first of all get the combiner to work, splitting the free text into three freetext fields (it makes a json map to send to the client)
and joining them back up again
3. Start to update to use thesaurus con

[2020-11-28 01:23] jodygarnett commented on #95
We are expecting to work with content list this:
[code]

editor:

* `layout-custom-fields.xsl`: editor form xslt

resources dialog:

* `iso19139/config/associated-panel/default.json`: dialog popup for resources
* `web-ui/src/main/resources/catalog/components/edit/onlinesrc`: angular code and html templates for resource panel

  [addOnlinesrc.html](https://github.com/geonetwork/core-geonetwork/blob

[2020-11-30 22:35] jodygarnett opened #142 "how to handle plugin updates of thesaurus files"
Having trouble with updating an older hnap installation:

1.  thesaurus file renames: https://github.com/metadata101/iso19139.ca.HNAP/issues/53

- [x] 1. EC_Core_Subject -> GC_Core_Subject
- [ ] 2. EC_GC_Security_Classification -> GC_Security_Level
- [x] 3. EC_Geographic_Scope -> GC_Geographic_Scope
- [x] 4. EC_Government_Titles -> GC_Departments
- [x] 5. EC_ISO_Countries -> ISO_Countries
- [ ] 6.

[2020-12-01 11:33] ianwallen commented on #142
What is the expected update process? Once we identify how we are supposed to do an upgrade process then it may help identify the short comings of the upgrade process.

For us, the schema is part of the GN software as we added it to our maven build.   When we deploy, we remove the old GN software and deploy new.  Since it is a complete replacement of the software we don't have any issues with the u

[2020-12-01 17:24] jodygarnett commented on #142
Update: Deleting the old file is required, just disabling (in the user interface) is not enough.

[2020-12-01 19:39] jodygarnett commented on #142
I am not exactly sure what the update process should be, for standalone https://github.com/GeoCat/experiment-hnap there is some [logic to delete files](https://github.com/GeoCat/experiment-hnap/blob/master/web/src/main/webapp/initialization/settings/thesaurus/thesaurus.json) that are being replaced or overwritten.

Ideally I would like the process to be hands free, so older data directories are up

[2020-12-01 20:36] ianwallen opened #143 "Security not validation"
Security note currently contain the following options

![image](https://user-images.githubusercontent.com/1868233/100793155-1a395800-33f2-11eb-92cf-b40a950344ed.png)

The data is also stored in a free form text field and uses a helper for a suggested list of options.

We are looking to add a schematron validation for this list so that even though it is free form, we want a value from the list.

Bu

[2020-12-02 16:27] ianwallen opened #145 "Changing the main language"
As HNAP requires the main language the main language was added to the Simple editor form as read only.  But it remained on the full view as editable.

It was done that way because changing the main language of the document without changing all the locales messes up the metadata record and confuses the editor.  But it should work as expected for unilingual metadata - which I believe is used by othe

[2020-12-02 16:32] fxprunayre commented on #145
This is a discussion we had on couple of projects here and we never moved forward on this but the idea was to move the language out of the main editor form and add a specific component to add/remove and change default language. The component can then call specific API/XSL process to take care of the language change logic.

[2020-12-02 21:49] wangf1122 commented on #128
The none multilingual also has some untranslated text.

https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/src/main/plugin/iso19139.ca.HNAP/loc/fre/schematron-rules-non-multilingual.xml

[2020-12-03 17:17] jodygarnett commented on #143
I like the idea of having hnap configuration options, to be referenced by schematron to enforce free text is limited to provided thesaurus (that way you do not need to fork).  And then it works to change config option and upload your custom thesaurus with fewer values.

How to make this a configuration option, rather than fork:
- Isolating this to a single schematron you could adjust the pass crit

[2020-12-03 17:31] jodygarnett commented on #143
Meeting notes:

1. Add validation, use open license as an example
2. Look at adding setting to restrict list for validation
3. Look at adjusting visual appearance of suggestions (so Confidential is shown greyed out)

Aside:

* Some language issues around use of code list suggestions for free text field

[2020-12-03 17:50] ianwallen opened #147 "Metadata with French as the main languages are not showing proper language in display"
There is a new metadata template with French as the main language "Profile - HNAP Level 1 (French)"/"Profile - PNAH niveau 1 (française)"

When looking at the list of templates with the ui set to English - I would expect to see  "Profile - HNAP Level 1 (French)" but I get the French.

![image](https://user-images.githubusercontent.com/1868233/101067315-c81d4180-356d-11eb-827a-a56526d6cd3e.png)

![

[2020-12-03 18:33] ianwallen opened #148 "How to change default view?"
I changed the defaultview to `/formatters/xsl-view?root=div&view=default`

![image](https://user-images.githubusercontent.com/1868233/101072042-c6ef1300-3573-11eb-9f5c-6ee982b172ef.png)

But when I search and click on a record it will still only show the standard view.

I can then go to  display and select default view to have it changed.

![image](https://user-images.githubusercontent.com/1868233

[2020-12-04 11:32] josegar74 commented on #147
In the index folder I have 3 subfolders: `eng`, `fre` and `$isolangid`, the english version of the metadata is stored in `$isolangid` instead of the folder `eng`, seem some issue processing the alternative language

[2020-12-04 11:48] josegar74 commented on #147
The problem is this code:

https://github.com/metadata101/iso19139.ca.HNAP/blob/6275428962441412652244020c4d9fd5860ecb2d/src/main/plugin/iso19139.ca.HNAP/index-fields/language-default.xsl#L91

Going to fix directly in the branch

[2020-12-04 11:54] josegar74 commented on #147
@ianwallen please update, should be fine now

[2020-12-04 14:44] ianwallen commented on #147
@josegar74
Thank you for the quick resolution

Looks like there is another occurrence of `<xsl:otherwise>$isoLangId</xsl:otherwise> ` on line 130.

I will fix that one shortly.

Thank you

[2020-12-04 22:25] #147 closed, assigned to nobody

[2020-12-04 22:28] ianwallen commented on #128
@wangf1122
Did https://github.com/metadata101/iso19139.ca.HNAP/pull/149 resolve all the translation issues. Can we close this issue?

[2020-12-04 22:30] #122 closed, assigned to nobody

[2020-12-07 13:48] wangf1122 commented on #128
Yes, we can close this issue.

[2020-12-07 23:49] #128 closed, assigned to nobody

[2020-12-08 18:17] juanluisrp commented on #135
This is part of https://github.com/geonetwork/core-geonetwork/pull/5061 PR. A timezone picker has been added there in the date/time fields of the editor.

[2020-12-09 11:18] ianwallen commented on #135
@juanluisrp, I see that PR is targeting the 4.X branch.  Are there plans to backport these changes to the 3.X/master branch once completed?  Also if backporting,  do you have any estimates as to when this work is expected to be complete?

Thank you for the great contributions - we do see lots of time related issues so we are anxious to see these changes get merged and backported.

[2020-12-15 21:13] ianwallen opened #157 "Canada vs Canada (le)"
According to ISO-3166,  https://www.iso.org/obp/ui/#iso:code:3166:CA the French version of `Canada` is `Canada (le)`

But it is odd to use `Canada (le)`.

We are importing data from FGP and it seems like they don't use a selection list and use "Canada" for both English and French.

The what is HNAP recommended value to be used in this case?  If it is `Canada (le)` then why does it seem FGP not enf

[2020-12-21 07:49] jodygarnett opened #162 "Unable to link to OGC Web Services"
Comparing HNAP to vanilla we are unable to link to OGC Web Services.

1. Associated resources, add link to online resources
2. Select the protocol `OGC-Web Map Service` from the list, and supply capabilities document as the URL.

However the protocol for  `OGC-Web Map Service` is not available:
![protocols](https://user-images.githubusercontent.com/629681/102751847-6c98d500-431d-11eb-9d98-f7da3b17

[2020-12-22 03:13] #162 closed, assigned to nobody

[2021-01-14 20:51] ianwallen commented on #92
This can be corrected by adding the _fre version in the following condition

https://github.com/geonetwork/core-geonetwork/blob/aa37f95246d2abae70e801c01dc33224daebef14/core/src/main/java/org/fao/geonet/MetadataResourceDatabaseMigration.java#L75-L79

But also, this issue may be disappearing.  Because it seem like the single filename is no longer being supplied in newer version of geonetwork and in

[2021-01-15 16:56] jodygarnett commented on #157
We should ask @bo-lu to clarify that FGP is diverging with the ISO 191319 standard here :)

[2021-01-15 17:03] jodygarnett commented on #157
Checking for other examples, it appears the ISO country codes have a small grammer here for optional prefix and suffix:

* `Bahamas (the)`
* `Falkland Islands (the) [Malvinas]`

[2021-01-15 17:04] jodygarnett commented on #157
We could make this fix upstream in GN to understand prefix / suffix in the user entry. It appears this is part of the [ISO 3166-1:2020(en)](https://www.iso.org/obp/ui/#iso:std:iso:3166:-1:ed-4:v1:en) definition.

[2021-01-15 17:20] jodygarnett commented on #118
@bo-lu this requires some though and a decision ahead of server being shut off.

[2021-01-15 23:22] jodygarnett commented on #157
Ideas:
- it would be acceptable to show "Canada" in the user interface editor, and record "Canada (le)" in the document
- For the record viewing consider showing "Canada" or "le Canada" as required by context - process the text into *Local short name* and optional *Local short name prefix* and *Local short name suffix*.

[2021-01-18 01:36] jodygarnett commented on #95
Multicombiner like other editor components use the internal identifiers assigned to the xml elements by the editor to bind the values.

The dialog does not interact with the metadata editor form, but requests the values required to manage in custom model `scope.params`. An xslt process in the sever is used to add/update the online resource and save the editor to refresh the page.

* [gn-addonlines

[2021-01-19 09:49] jodygarnett commented on #132
This is now available: https://metadata101.github.io/iso19139.ca.HNAP/

![image](https://user-images.githubusercontent.com/629681/105017256-6cf9be00-59f8-11eb-8fc7-76e4030bec44.png)

Next steps will be setting up for translation, and gradually filling in more stories.

[2021-01-19 09:49] #132 closed, assigned to nobody

[2021-01-19 21:50] wangf1122 opened #169 "Metadata file selection issues"
[export-full-1611091412320.zip](https://github.com/metadata101/iso19139.ca.HNAP/files/5838747/export-full-1611091412320.zip)

@ianwallen

I found different behavior when we import metadata into Catalogue vs FGP. See this export file contains two version of metadata.

![image](https://user-images.githubusercontent.com/74916635/105096954-d2d85b00-5a75-11eb-932c-cac67acc9abd.png)

FGP for some reason

[2021-01-20 01:22] ianwallen commented on #169
@josegar74

When we import FGP records which contains the xmlns:napm namespace
`xmlns:napm="http://www.geconnections.org/nap/napMetadataTools/napXsd/napm" `

i.e.

[code]

The records fail to validate.

![image](https://user-images.githubusercontent.com/1868233/105113673-ba7b3700-5a9b-11eb-94c1-c1102556d627.png)

@wangf1122 has identified that FGP seems to import a different record than this profi

[2021-01-20 13:44] ianwallen commented on #169
@wangf1122

I created a partial fix for this issue #171 - please review to see if this will fix the issue.

Note: Here are some limitations to this fix
1 - if importing and validating - the validation will still fail.  That is because the update-fixed-info.xsl is not executed during imports so the namespaces will still be missing.
   - Same for running the validation from the editor board. Need to

[2021-01-21 15:14] ianwallen commented on #169
I updated iso19139.ca.HNAP\src\main\config\conversion\import\iso19139-to-iso19139.ca.HNAP.xsl to also fix the namespace issues. That change is also included in the PR #171

## Potential FGP bugs
### metadata.xml
I did noticed that the FGP export (metadata.xml) contains the following (namespace)

[code]

And the following for filetype
[code]

In this case the namespace is not in the main namespace

[2021-01-21 18:23] wangf1122 opened #172 "Exported ISO19139 meta file is lacking of some namespaces"
1) Take a meta data that passes the validation. The MD_Metadata contains these namespace (i.e. xmlns:napm is used in fileType)

![image](https://user-images.githubusercontent.com/74916635/105394179-3fc13180-5beb-11eb-8b80-fe5edbdcfdb1.png)

2) Do an export of the this meta as zip file. Pick the ISO19139.xml to brose.
![image](https://user-images.githubusercontent.com/74916635/105394388-80b94600-5b

[2021-01-21 19:42] ianwallen commented on #169
@wangf1122 created new issue #172 related to the potential missing namespace issue.

[2021-01-22 19:50] wangf1122 commented on #172
A pull request is made to correct this issue.

https://github.com/metadata101/iso19139.ca.HNAP/pull/174

[2021-01-26 01:05] jodygarnett opened #175 "3.10.6 Release"
I would like to release a 3.10.6 based on the core-geonetwork 3.10.6 release last week.

There is one outstanding pull-request, anything else that should be addressed?

[2021-01-28 16:52] geothorne opened #176 "Info - rd-alliance.org - RDA standard for data management plans as a template"
GeoNetwork supports  RDA standard for data management plans as a template?

ECCC is supporting a Government Wide GC application profile to have a data management plans.
If no, Could it support?

[www.rd-alliance.org - RDA Background Info](https://www.rd-alliance.org/group/dmp-common-standards-wg/outcomes/rda-dmp-common-standard-machine-actionable-data-management)

 [RDA standard - Git Project]( ht

[2021-01-28 16:53] jodygarnett commented on #157
Result: `Canada (le)` is correct, and core-geonetwork could take advantage of this prefix and suffix information in the view, editor and reports.

[2021-01-28 17:00] jodygarnett commented on #118
@bo-lu from last meeting it seems a service can be setup at this location (once the present server is decommissioned).

We still have this issue capturing that the schema included with the hnap schema plugin does not match what is published.

[2021-01-29 06:41] josegar74 commented on #176
RDA standard seem a JSON based schema. GeoNetwork doesn't support it directly (it works only with XML formats). But there's a JSON schema definition provided in  https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard/blob/master/examples/JSON/JSON-schema/1.1/maDMP-schema-1.1.json. An option it's to generate the XSD schema from the JSON schema with some tool, so GeoNetwork can manage it in XML f

[2021-01-29 06:57] josegar74 commented on #148
Seem this property it's not available in the UI Settings page directly: http://SERVER/geonetwork/srv/eng/admin.console#/settings/ui, but can be edited in the JSON at the bottom of the page. Search for the following snippet:

[code]

Change `defaultUrl` to `/formatters/xsl-view?root=div&view=advanced` and save the UI settings.

[2021-01-29 18:41] ianwallen commented on #148
@josegar74
If I change the defaultUrl it only partially works.
I'm able to search for records and then when I click to view them they use the defaultUrl
But if I go to the editor board and click on the link to go to the metadata record - it uses the previous default.

The link from the main search page give the following link.
`/geonetwork/srv/eng/catalog.search#/metadata/e0722ad7-0374-4267-93b2-f

[2021-02-01 08:32] jodygarnett commented on #176
This may end up being supported by addition of ogc-api-records standard being developed this month.

[2021-02-03 15:21] geothorne commented on #176
Thanks Jody, This all makes sense to me.

[2021-02-03 15:22] #176 closed, assigned to josegar74

[2021-02-04 19:29] jodygarnett commented on #118
I would like to propose following the OGC example of publishing schemas by version number:

* http://schemas.opengis.net/wfs/1.0.0/
* http://schemas.opengis.net/wfs/1.1.0/
* http://schemas.opengis.net/wfs/1.1/
* http://schemas.opengis.net/wfs/2.0/

We can then support the two schema presently known, and allow for future versions:

http://nap.geogratis.gc.ca/schemas/iso19139.ca.HNAP/1.2
http://nap.

[2021-02-06 11:47] ianwallen commented on #175
All PR's have been merged - feel free to create the 3.10.6 release when you are ready.

[2021-02-08 00:51] jodygarnett commented on #175
Thanks @ianwallen, just finishing up some actual testing (want to make sure the docs are packaged, and install instructions updated).

[2021-02-08 00:55] jodygarnett commented on #74
I think this issue may be resolved

[2021-02-08 03:04] #175 closed, assigned to josegar74, ianwallen

[2021-02-10 20:52] jodygarnett opened #183 "User guide translation discussion"
Breakout chat looking at https://metadata101.github.io/iso19139.ca.HNAP/ user guide.

Activities:

* [x] playtest translation workflow manually
* [ ] automat translation workflow in ``pom.xml``
* [ ] test translation using sample from ECCC

[2021-02-13 02:57] jodygarnett commented on #183
## breakout meeting notes

Lots of discussion on translation:

* cloud `transifx` workflow, or desktop tool ti edit ``pot`` files? Will depend on tool support...
* idea of exporting to word document, and then doing data entry to convert back to ``pot`` files.

Notes on *User Guide (HNAP)*:

- break out section by section based on level of access
  - Catalogue: search the catalog (for anonymous vis

[2021-02-18 16:05] ianwallen opened #185 "Version issue when attempting to use newer HNAP"
I got the following error

2021-02-18 08:59:17,233 ERROR [geonetwork.schemamanager] - Schema iso19139.ca.HNAP requires min Geonetwork version: 3.10.5, current is: 3.10-SNAPSHOT. Skip load schema.

And seem to be caused by the following lines.

https://github.com/metadata101/iso19139.ca.HNAP/blob/a1f26d73d543724e040b9f462fd83b4f56d5755a/src/main/plugin/iso19139.ca.HNAP/schema-ident.xml#L30-L31

If

[2021-02-23 23:55] ianwallen commented on #172
@wangf1122  - I believe this issue is fixed - closing the issue.

[2021-02-23 23:55] #172 closed, assigned to nobody

[2021-02-25 16:45] jodygarnett commented on #185
Discussion:
[code]

* version is of schema (see above)
* appMinorVersionSupported needs to adjust to 3.10-SNAPSHOT

[2021-02-25 16:52] jodygarnett commented on #95
@juanluisrp has been working on this and making good progress, some issues sync with display to figure out.

Expect a PR next week?

[2021-02-25 22:47] ianwallen opened #187 "Need to change EC_GC_Security_Classification -> GC_Security_Level"
The current thesaurus EC_GC_Security_Classification -> GC_Security_Level
Contains options like top secret.

In our installation the requirements are to not allow users to enter such security information so we would like to either remove the higher security classification or to update the list to use our own file.

[2021-02-25 22:47] ianwallen commented on #187
@jodygarnett  - Didn't you have similar issues.  How did you handle this case.

[2021-02-26 04:45] jodygarnett commented on #185
I am experimenting with including:
[code]

The`` SchemaManager.checkSupported(schemaPluginCatRoot)`` method sees ``3.10-SNAPSHOT`` as ``3.10.0`` with is not quite what I would like (but I suppose it will work).

Thinking it through from schema-plugin perspective:

* schema plugin ``3.10-SNAPSHOT`` --> ``3.10.0`` means that the plugin will load against the live core-geonetwork ``3.10-SNAPSHOT`` ser

[2021-02-26 07:55] jodygarnett commented on #185
I have done both the quick fix (changing to 3.10-SNAPSHOT and trusting 3.10.0 order is okay) and the long fix respecting maven style version numbers.

[2021-02-26 11:43] ianwallen commented on #185
regarding "During release they are both versioned together to match what is tested"

I would think that it would be possible to have
- 3.10.0 in the plugin and that would allow GN 3.10.snapshot and 3.10.0, 3.10.1, 3.10.2... to use it.
- 3.10.1 in the plugin and that would allow GN 3.10.snapshot and 3.10.1, 3.10.2... to use it.
- 3.10.2 in the plugin and that would allow GN 3.10.snapshot and 3.10.2

[2021-02-26 12:36] ianwallen commented on #185
Related to the following GN PR
https://github.com/geonetwork/core-geonetwork/pull/5452

[2021-02-26 16:47] jodygarnett commented on #185
Discussing with @juanluisrp about how this is used to manage database updates, we could pull the compatibility from the database upgrade list.

Presently using `3.10-SNAPSHOT` is not so good for running database updates. In a sense it will always try running up to the highest 3.10.x number.

[2021-02-26 19:49] juanluisrp commented on #185
I've added a couple of commits. to https://github.com/geonetwork/core-geonetwork/pull/5452. The first one is only formatting and cleanup of the code in `Version` class.

The second is related to how versions are interpreted in `DatabaseMigration` class.
This fix the problem of migration with only major, minor and `SNAPSHOT` versions that are present between tags. For example if `pom.xml` version i

[2021-02-26 22:13] ianwallen opened #189 "Unable to build using new versioning."
Since changes from
https://github.com/geonetwork/core-geonetwork/pull/5096

I cannot get the build to work correctly.

In our case we are trying to do the following

I'm trying to use the latest HNAP within the 3.10.6 release
I applied the commits from PR https://github.com/geonetwork/core-geonetwork/pull/5096
(I did replace all 3.10-SNAPSHOT back to 3.10.6-0).

I keep getting the following error.

[2021-03-03 01:12] jodygarnett commented on #185
Thanks @juanluisrp that looks great! I hope the pull request and backport are accepted soon.

[2021-03-03 15:39] jodygarnett commented on #118
A suggestion was made to use  an official GC github to host the above.

[2021-03-04 00:21] bo-lu commented on #118
I will ask if we can use: https://github.com/Canadian-Geospatial-Platform

[2021-03-04 16:59] #185 closed, assigned to jodygarnett

[2021-03-10 18:37] akhamdo commented on #95
would it be possible to know the status on this ?
@jodygarnett  this is part of our Release 2: March 31.

[2021-03-11 19:40] jodygarnett commented on #135
@ianwallen based on recent discussion no group has stepped up with resources to backport to the 3.x branch.

[2021-03-17 14:39] jodygarnett commented on #118
We should try an experiment and then make a recommendation to HNAP team (who has governance over the standard and this location).

[2021-03-17 14:47] jodygarnett commented on #118
Use of github directly is not the best, the file:

* https://Canadian-Geospatial-Platform/hnap/blob/master/schemas/iso19139.ca.HNAP/2.3.1/gmd.xsd

Is accessed as:

* https://raw.githubusercontent.comCanadian-Geospatial-Platform/hnap/schemas/iso19139.ca.HNAP/2.3.1/gmd.xsd

Could also look at:

* Github pages:  https://Canadian-Geospatial-Platform.github.io/hnap/schemas/iso19139.ca.HNAP/2.3.1/gmd.xs

[2021-03-18 14:21] bo-lu commented on #118
My take is that we can host the schema files on 'geo.ca' and create a github repository for issue tracking and fixes (i.e., via pull requests).

[2021-03-23 20:41] jodygarnett commented on #189
The parent pom changed from `org.geonetwork-opensource` to `org.geonetwork-opensource.schemas` I think.

When you return to `3.10.6` you may need to update the [pom.xml](https://github.com/metadata101/iso19139.ca.HNAP/blob/3.10.x/pom.xml) both?

[code]

Let me double check:

[3.10.6-0](https://github.com/geonetwork/core-geonetwork/blob/3.10.6/schemas/pom.xml#L36-L39) has:
[code]

[3.10.x](https://

[2021-03-23 21:31] davidblasby commented on #189
Here is my resulting HNAP pom.xml

[code]

This looks to be working.

Here's the diff:

**% git diff pom.xml**
[code]

[2021-03-23 21:33] #189 closed, assigned to davidblasby

[2021-03-25 13:14] akhamdo commented on #95
@jodygarnett
Would it be possible to have an update on this in our meeting later on today?
thanks

[2021-03-25 14:26] josegar74 commented on #148
I tested and this url seem used only from the search results, from the Editor dashboard, the link in the title uses `/geonetwork/srv/eng/catalog.search#/metadata/e0722ad7-0374-4267-93b2-fbb4966a4b51`.

Also editing from the metadata detail page displaying the full view I see the following url:

`/geonetwork/srv/eng/catalog.edit#/metadata/62373?redirectUrl=catalog.search%23%2Fmetadata%2Fe0722ad7-03

[2021-03-25 14:45] #148 closed, assigned to josegar74

[2021-03-25 16:30] jodygarnett commented on #2
Moving discussion to https://github.com/metadata101/iso19139.ca.HNAP/discussions/197

[2021-03-25 16:30] #2 closed, assigned to nobody

[2021-03-26 12:06] ianwallen opened #200 "Cannot remove temporal extent"
Trying to create a metadata that is not geospatial and not able to remove the temporal extent.
When removed it will re-appear without the "X" to remove it again.

![image](https://user-images.githubusercontent.com/1868233/112628928-60d41780-8e12-11eb-919f-51d7b5884f8d.png)

Not sure if this is related to the section being a template?

[2021-03-26 12:54] ianwallen commented on #189
I don't think you understood the problem.

We were previously building the code by pointing directly to the github submodule and pulling the code directly in as a submodule without any changes.  We did not have to change any code so we did not have to do any fork.

All your suggested require us to fork the HNAP plugin to make the custom changes in order to make it work.  I was trying to avoid doin

[2021-03-30 21:37] jodygarnett commented on #187
I used a war overlay to unpack a replacement file thesaurus that had fewer entries. The war overlay contained some initialization code triggered using ``ApplicationListener<GeonetworkDataDirectory.GeonetworkDataDirectoryInitializedEvent>``.

You can see an example here:

* https://github.com/GeoCat/experiment-hnap/tree/master/web/src/main/webapp/initialization/settings/thesaurus
* https://github.c

[2021-04-06 16:09] jodygarnett commented on #95
@ianwallen have you had a chance to look at https://github.com/geonetwork/core-geonetwork/pull/5559 above?

[2021-04-07 10:37] ianwallen commented on #95
@jodygarnett
Sorry, did not realize that it was ready as it was in draft.  I was also expecting to see a PR on HNAP with the expected configurations being applied.

I will try to have a look at this soon as I get time.

[2021-04-07 15:23] ianwallen commented on #95
@jodygarnett, @juanluisrp
What changes are required on the HNAP?
Is it supposed to be based on  https://github.com/metadata101/iso19139.ca.HNAP/tree/description_combiner?
As you have tested the changes, could you push the branch with the changes to the HNAP repo?

[2021-04-07 16:22] jodygarnett commented on #95
I wanted to ask if this change is always appropriate for hnap?

Or if this is a specific configuration to use ``GC_Resource_ContentTypes ``, ``GC_Resource_Formats``, and ``GC_Resource_Languages `` ?

[2021-04-08 10:17] ianwallen commented on #95
According to the HNAP documentation that we received from FGP, this is how the field is supposed to be represented so to answer your question - yes - this does seems to be a specific requirement for HNAP.  If we were only talking about NAP then it would remain a free form text.

That being said, it would be nice if this was similar to the org selector, where it is mostly a recommendation of values

[2021-04-08 15:22] juanluisrp commented on #95
I've created this branch with the required configuration https://github.com/GeoCat/iso19139.ca.HNAP/tree/3.10.x-resource-panel

[2021-04-09 13:15] ianwallen commented on #95
@juanluisrp

I cherry picked commit 06d0410270998c3168cb510a453700fc16bda7e5 into our hnap repository
	https://github.com/GeoCat/iso19139.ca.HNAP/commit/06d0410270998c3168cb510a453700fc16bda7e5

I cherry picked commit 3c4f2f1dba28f3c3c2ae1ddc0bfe356e3773dd5c into our gn repository
    https://github.com/geonetwork/core-geonetwork/pull/5559/commits/3c4f2f1dba28f3c3c2ae1ddc0bfe356e3773dd5c

I tested

[2021-04-09 15:14] juanluisrp commented on #95
Are you using the geonetwork/core-geonetwork#5559 PR?

[2021-04-12 11:54] ianwallen commented on #95
@juanluisrp
#5559 does not have HNAP schema and it is based on 3.12.x so I did not use it directly use GeoCat:3.12.x/online-resource-multicombiner branch from PR #5559.
Instead I cherry picked the one commit that you did from PR #5559 into our branch.

Note that my branch is based on 3.10.6 which matches the HNAP 3.10.x branch that we are attempting to place the changes in. I'm assuming that your

[2021-04-16 21:47] ianwallen commented on #95
@juanluisrp
I have tried again.
- This time I checkout your branch "GeoCat:3.12.x/online-resource-multicombiner"
- Then I added the HNAP schema
- Then in the HNAP folder - I checkout out your branch "3.10.x-resource-panel"

I got the same results.

![image](https://user-images.githubusercontent.com/1868233/115087154-0e9f8700-9ee4-11eb-9236-078a5a72889c.png)

I'm I missing some steps???

@jodygarne

[2021-04-20 14:01] wangf1122 opened #205 "Missing label for Temporal element in advanced mode."
![image](https://user-images.githubusercontent.com/74916635/115408345-c66fb580-a1be-11eb-9ec8-c67c19839bb8.png)

The label of begin date and end date are missing from the entry. The label does existed from

labels.xml

<element name="gml:beginPosition">
        <label>Begin Date</label>
        <description>Enter the date on which data collection began or is scheduled to begin. You may use the cal

[2021-04-21 14:31] jodygarnett commented on #118
The the previous server decommissioned this issue is now critical (ie actively broken) and the metadata documents being published cannot be used by external tools.  We are looking for a 5 to 10 year decision here, although realistically documents like these do not expire and are useful as a historical record.

Some good ideas from meeting (following the OGC opengis and w3c example layout):

@bo-lu

[2021-04-29 21:54] jodygarnett commented on #118
I am checking if osgeo can provide hosting (so we can avoid GitHub in the URL) https://trac.osgeo.org/osgeo/ticket/2594

[2021-04-30 22:04] wangf1122 opened #209 "Validation text not compatible with Temporal Extent"
TBD

[2021-04-30 22:06] wangf1122 opened #210 "Validation text not compatible with Temporal Extent when using templateModeOnly=true"
The difference is not really related to the `templateModeOnly` attribute, but to the configuration of the fields in the template:

- **With** `templateModeOnly="true"` it uses the field template defined in `config-editor.xml`. The advantage of this mode is that it displays the elements independently if are defined or not in the xml.

  But in this case the fields in the template use the angularjs

[2021-04-30 22:07] #209 closed, assigned to nobody

[2021-04-30 22:13] wangf1122 commented on #210
@ianwallen

I would like to continue the discussion here. I found a little struggling to work with that templateModeOnly=true which Jose mentioned Angular data picker is not adding ref elements.

I had some luck to turn it off. But we will have the label missing issue. I found the root cause of label missing is because this code.
https://github.com/metadata101/iso19139.ca.HNAP/blob/3.12.x/src/main

[2021-05-05 06:31] jodygarnett commented on #118
The new location is shaping up https://github.com/metadata101/schemas

Notes above indicate version `2.3.1`(geogratis) and `1.2` (hnap schema plugin) but I am having trouble finding these version numbers in the schema output.

Some work remains for gitub pages to publish `xsd` files as assets, and to revert some edits that have been made over time (hard coding geogratis links).

[2021-05-06 15:41] juanluisrp commented on #95
This commit was missing in https://github.com/geonetwork/core-geonetwork/pull/5559 (https://github.com/GeoCat/core-geonetwork/commit/139276db9b87b2c3204b200009121c3b0b6d6d48). @ianwallen please add this change to your branch.
I've also added https://github.com/GeoCat/iso19139.ca.HNAP/tree/3.12.x-resource-panel branch with a 3.12.x version of HNAP with the default.json config updated.
If you want t

[2021-05-06 15:57] ianwallen opened #212 "Need to update Core subject thesaurus to be similar to FGP"
Attempted to load data generated by the HNAP 3.10.x into FGP and we got the following error.

![image](https://user-images.githubusercontent.com/1868233/117328855-6ccbe400-ae6a-11eb-8f0d-6314f27edf93.png)

We should ensure that the thesaurus between FGP and HNAP 3.10.x are using the same core subject thesausus.

[2021-05-06 16:03] ianwallen commented on #212
@bo-lu
I have assigned this to you to do a quick compare the following thesaurus to FGP and maybe you can help us identify the main differences.
https://github.com/metadata101/iso19139.ca.HNAP/blob/3.12.x/src/main/config/codelist/local/thesauri/theme/GC_Core_Subject.rdf

Maybe you can upload the FGP core subject thesaurus.  It sound like the FGP version was recently upgraded so maybe it is the mos

[2021-05-07 13:08] ianwallen commented on #95
@juanluisrp
I have tested the new changes and it works however there are still some issues.

1 - The selected values is using the text instead of the code.
i.e. for the following if I switch my ui to French, it will save "Document de soutien" as the value instead of "Supporting Document" from "resourcecontenttype#Supporting Document"
![image](https://user-images.githubusercontent.com/1868233/11745

[2021-05-07 13:10] ianwallen commented on #95
@josegar74, @juanluisrp
Note that I have created a pull request with the changes.  I believe that most of the issues may be within the geonetwork core.

[2021-05-07 13:22] juanluisrp commented on #95
The values selected should be comma separated.
A good value would be "Dataset;FGDB/GDB;eng,fra" But the current setup puts "Supporting Document; FGDB/GDB; English/French". Notice the extra space between the ";" and the next value.

This can be configured using the `directiveConfig.combiner` option in `config/associated-panel/default.json`.
https://github.com/metadata101/iso19139.ca.HNAP/blob/d3827

[2021-05-07 14:04] ianwallen commented on #95
@juanluisrp
Thank you - I will update the default.json and remove the extra space next to the ";"

Any idea how hard it would be to fix "1 - The selected values is using the text instead of the code."?  I believe that is our show stopper at the moment.  We would still like the other issues fixed however we can deploy what we have as long as issue "1" is fixed.

[2021-05-10 11:20] josegar74 commented on #95
@ianwallen this is the snippet created, related to item 1:

[code]

I think the specification states to store the traslation value, not the key. In other projects it's used like this.

Or are we misunderstanding your comment?

[2021-05-10 18:13] ianwallen commented on #95
@josegar74
You are partially correct.
I believe I caused confusion by using "Supporting Document" as the sample when there are no issues with that field.  The issue is with the 3rd field (language).  In your example the value is English and Anglais - but in FGP those are the values that are shown in the form - however it stores "eng" in the data

Here is an example from FGP - you can see the saved

[2021-05-10 18:37] ianwallen commented on #95
@josegar74
For now, I'm able to make it work by changing the language thesaurus to only use codes.  I pushed the changes as this will help it work for now  (although not ideal).   Once it is able to support using the codes correctly and it supports a multi selection list for selecting the languages then we can update the language thesaurus.

[2021-05-12 14:36] jodygarnett opened #214 "Synchronize Core Subject Thesaurus from Libraries Canada to 3.12 (backport to 3.10 and 3.6)"
We noticed that Ian has a newer core subject thesaurus than is use on the `3.6.x` branch. This issue is to commit any thesaurus files that are needed to version control `3.12.x` branch, and backport to `3.6.x`.

* https://canada.multites.net/cst/def.asp?lang=En&n=E5807AB0-1
* Change log: https://canada.multites.net/cst/def.asp?lang=En&n=B1B9013A-1

Minimal processing needed, linefeeds need to be c

[2021-05-12 23:18] ianwallen commented on #214
@jodygarnett
Is this a duplicate of #212?

[2021-05-17 19:32] jodygarnett commented on #214
Yes I think it is, I will close.

Although I am not sure what other thesauri wish to be synchronized.

[2021-05-17 19:34] jodygarnett commented on #212
Bo found you have a newer core subject thesaurus then is use on the 3.6.x branch. Are there any others that are out of sync?

I recommend we commit any thesaurus files that are needed to version control 3.12.x branch, and backport to 3.6.x.

[2021-05-20 15:43] jodygarnett commented on #214
Notes:

* Bo did this previously, had to change linefeed characters for branch.

@wangf1122 can have a look at this!

[2021-05-20 16:21] ianwallen opened #218 "WMS services - test service button"
In FGP, there is an option for testing a WMS service when it is supplied as a resource.

![image](https://user-images.githubusercontent.com/1868233/119014158-0ff22280-b96e-11eb-85e6-f2bb7d9fe993.png)

Would like to have the button/functionality ported to HNAP if possible.

[2021-05-20 16:24] ianwallen commented on #218
Maybe we can first identify what tests are actually performed when Test Service is selected?  Anyone know?

[2021-05-20 16:32] ianwallen commented on #214
This task is to sync to use the list from the following

https://canada.multites.net/cst/index.htm

I believe this also contains the list

https://open.canada.ca/data/en/dataset/d4a0e406-eea9-41a7-bcae-28c31f3b9c65

[2021-05-21 11:46] MichelGabriel commented on #95
This is caused by a column that's too wide in file:
https://github.com/geonetwork/core-geonetwork/blob/fac64d75cade8aadb8b095dd377c9141f45c1f10/web-ui/src/main/resources/catalog/components/edit/onlinesrc/partials/addOnlinesrc.html#L277

`class="col-sm-12 col-xs-12 gn-value nopadding-in-table"` should be `class="col-sm-9 col-xs-9 gn-value nopadding-in-table"`

[2021-06-14 23:42] jodygarnett commented on #218
@ianwallen I am slow to the uptake on this, finally figuring out that HNAP has its own convention for WMS Server layer references.

[2021-06-14 23:51] jodygarnett commented on #183
Feedback on https://github.com/metadata101/iso19139.ca.HNAP/pull/184 recommends weblate https://weblate.org/en/ be considerd.

[2021-06-29 18:50] jodygarnett opened #224 "Remove duplicate gmd:locale"
We have run into some records, which validate successfully, produce strange behaviour when published to FGP.

The records have the main language listed as a `gmd:locale` resulting in two `gmd:locale` elements. Although this is a valid record, this trips up the FGP validation and user interface.

Updating the record  to remove the `gmd:locale` for the document primary language resolves the issue.

[2021-06-29 23:32] jodygarnett commented on #224
@ianwallen did you have any experience with the above, I seem to recall you made an XSLT script to process records a bit for publication to FGP.

[2021-07-02 10:56] ianwallen commented on #224
You may want to look into the following files

https://github.com/metadata101/iso19139.ca.HNAP/blob/3.12.x/src/main/config/conversion/import/iso19139.ca.HNAP.FGP-to-iso19139.ca.HNAP.xsl

It indicates all the changes that needed to be done during the import from FGP to HNAP.

We apply this import template when importing data from FGP.

In our case, we needed to also push data to FGP and since GN do

[2021-07-02 11:05] ianwallen commented on #224
The problem also has issues that were discussed in the following
https://github.com/metadata101/iso19139.ca.HNAP/issues/12

[2021-07-02 22:24] jodygarnett commented on #224
Thanks Ian, that is very helpful. Sharing the `xsl` to reverse the process may be helpful to bulk-fix records.

I need to start up the hnap documentation guide again to capture procedures like this.

[2021-07-07 06:38] josegar74 commented on #224
@ianwallen I found in the page 20 of this document https://jira.ucar.edu/secure/attachment/15227/MD-Metadata.pdf (although not very clear how official it is) the following information about the `locale` element:

[code]

So it seems the old way to handle this in previous versions of GeoNetwork is more "correct". The changes in https://github.com/metadata101/iso19139.ca.HNAP/pull/225, allow to keep

[2021-07-07 11:08] ianwallen commented on #224
@josegar74
I simply have concerns where the core geonetwork iso19139 schema is assuming that the main language will be in the Locale while  we are trying to specify that HNAP is should have the main language in the Locale.  ​As we are extending the iso19139, I would expect that we should only make the required changes to follow the HNAP specification. It seems like the more we try to change from t

[2021-07-15 15:58] #224 closed, assigned to jodygarnett, josegar74

[2021-07-27 13:14] ianwallen opened #231 "3.12.x documentation refers to 3.10.snapshot in po files"
Just wondering about the po files which seem to contains messages similar to the following in the 3.12.x branch.

https://github.com/metadata101/iso19139.ca.HNAP/blob/b6dd41cac0254e9c906b2de5a705f7ad575356f3/src/locale/fr/LC_MESSAGES/search/records.po#L10-L19

Are these messages needed? Can they be removed as they don't seem to contains much valuable information and seems to be incorrect?

[2021-07-27 13:15] ianwallen commented on #231
@jodygarnett,
I assigned this to you as you worked on the documentation.

[2021-07-27 13:19] ianwallen commented on #214
@wangf1122
Based on conversation with @josegar74, it seems like it would be a good idea to add versioning information in the files so that in the future we can identify the core subject thesaurus that we are using.   We can probably add this as a XML comment in the document.

[2021-07-27 13:47] wangf1122 commented on #214
@ianwallen
New PR for the versioning https://github.com/metadata101/iso19139.ca.HNAP/pull/232

[2021-07-27 16:13] jodygarnett commented on #231
I expect if I was using the tools right they would contain valuable information used to assert the contribution was provided clearly.

[2021-07-27 16:35] #214 closed, assigned to nobody

[2021-07-30 13:23] ianwallen opened #233 "Directory does not seem to be supported"
One of our users attempted to add a new Directory and had issues.

We noticed the following errors in our logs.

`2021-07-28 19:59:33,785 ERROR [geonetwork.index] - Indexing stylesheet contains errors: /usr/local/tomcat/webapps/geonetwork/WEB-INF/data/config/schema_plugins/iso19139.ca.HNAP/index-fields/index-subtemplate.xsl`

It contains errors because index-subtemplate.xsl does not exists.  But i

[2021-10-12 20:58] culkeri opened #243 "Typo in Install Guide"
_"Deploy the profile in an existing installation
3.Copy the schema-iso19139.ca.HNAP jar to geonetwork WEB-INF/lib**s** "_

The correct path is: WEB-INF/lib

[2021-10-21 06:43] juanluisrp commented on #95
All the issues except 2 has been covered in this issue. A workaround for 2 has been introduced too: add the following list to the thesaurus used for the languages:
* `eng`
* `fra`
* `eng,fra`
This allow to select multiple languages without the need of converting the field in a select multiple.

The fix has been implemented in `3.10.x` and `3.12.x`. @jodygarnett @ianwallen, can the issue be closed?

[2021-10-22 14:28] wangf1122 commented on #95
@ianwallen

Here is what I tested, it looks good according to the previous conversation.

![image](https://user-images.githubusercontent.com/74916635/138471720-13fd7458-1561-4c69-ac6e-08108c8509fd.png)

[2021-10-24 11:25] ianwallen commented on #95
Sorry closed this too quickly.
Yes the current interface works.
But the language selector is currently not user friendly.  As demonstrated above, the users are presented with "eng,fra" as a selection while the same interface from FGP allows for the users selection to be English text instead of language codes.
It is probably acceptable to have the selections "English", "French", "English/French"  b

[2021-10-24 11:28] ianwallen commented on #95
@wangf1122, can you create a PR which changes GC_Resource_Languages.rdf so that the languages in the dropdown lists are text instead of codes and verify that the codes still work properly in both English and French interface.

If that works, and the PR is merged then I believe we can close this issue

[2021-10-25 16:01] wangf1122 commented on #95
Here is the PR:
https://github.com/metadata101/iso19139.ca.HNAP/pull/245

The new view looks like:
![image](https://user-images.githubusercontent.com/74916635/138730386-84b37f5e-8a7c-45e3-bb42-5b308f7e9611.png)

[2021-10-27 12:05] ianwallen commented on #95
@juanluisrp

I have tested the PR #245 which seem to have the correct values as shown in @wangf1122 comment above (https://github.com/metadata101/iso19139.ca.HNAP/issues/95#issuecomment-951073418).

However the resulting XML does not seem correct.

[code]

I was expecting "English,French" to be "eng,fra"

@josegar74 comment above (https://github.com/metadata101/iso19139.ca.HNAP/issues/95#issuecomm

[2021-11-19 13:46] #243 closed, assigned to nobody

[2021-11-19 13:50] ianwallen commented on #212
Seems to up to date now with the following PR
https://github.com/metadata101/iso19139.ca.HNAP/pull/220

[2021-11-19 13:50] #212 closed, assigned to nobody

[2021-11-19 14:07] #210 closed, assigned to nobody

[2022-01-06 15:52] geothorne opened #252 "Contact > Linkage field should not be * mandatory?"
Why is the linkage field in the contact list mandatory?
Should the asterix be removed from the contact block.

also the linkage elements child element is <URL>, but it is free text....
should the linkage text for this field be changed to website, url?
also, if linkage field name must stay, the tool tip must me updated.

Add a new record
In Basic view, add a new Contact
Scroll down to view the Link

[2022-01-06 16:01] geothorne opened #253 "Default Create New Record template - contact block missing elements"
![individual-name](https://user-images.githubusercontent.com/47672199/148411708-8e6e9774-582f-4334-bd41-f47fd0876b95.jpg)

Create a new record
Look at the record in basic view
Scroll down to the Contact section of the record.
Note all the fields available for input in this record
Create an additional Contact
Note the fields available for this contact and compare it to the first Contact

In the sec

[2022-01-06 16:24] geothorne commented on #253
this issue is seen in other contact blocks when a metadata record is created. need to review each contact block.

[2022-02-01 16:20] wangf1122 commented on #157
@bo-lu @ianwallen

Looks like FGP had changed country code to "Canada (le)" in this commit https://github.com/metadata101/iso19139.ca.HNAP/commit/74f42d68895bdda6891242d5d70b4dc37943fe58

Is this consider resolved? Thanks

[2022-02-09 22:58] wangf1122 opened #260 "Resource language and online resource xlink:role"
Due to the previous PR https://github.com/metadata101/iso19139.ca.HNAP/pull/230

The xlink:role attribute will be added to "gmd:onLine" tag based on the description of the language. The language in the description comes from

https://github.com/metadata101/iso19139.ca.HNAP/blob/85aeb8ebb04c40965ba9acf6630fb6d2865b2ae4/src/main/config/codelist/local/thesauri/theme/GC_Resource_Languages.rdf#L35

But

[2022-03-10 16:49] jodygarnett commented on #231
The above is not related to documentation.

[2022-05-10 15:56] CarHenkel commented on #183
Mark Shaw of ECCC prefers use of DeepL over translation from the GC translation bureau.
https://www.deepl.com/en/translator
Is this a possibility?

[2022-07-15 16:59] wangf1122 opened #279 "Validation error double clicking does not direct to the web field."
There are quite a few validation errors showing but if the user double click on them, it cannot redirect the user to the right web field.

Here is the summaries:

HNAP validation rules - common
![image](https://user-images.githubusercontent.com/74916635/179271944-114266c7-8f46-40dd-af8f-e777bfaf4758.png)

![image](https://user-images.githubusercontent.com/74916635/179272058-e4f08963-ca19-4961-9ed4

[2022-09-14 19:41] ianwallen commented on #92
It seems like the data can show up like this.

         <gmd:graphicOverview xlink:role="urn:xml:lang:fra-CAN">
         </gmd:graphicOverview>
         <gmd:graphicOverview xlink:role="urn:xml:lang:eng-CAN">
         </gmd:graphicOverview>

So it seems like what should be done is to modify the display form so that it would only display the thumbnail if the xlink:role is null(or does not exists) o

[2022-09-21 17:26] ianwallen opened #285 "Add support for adding new Distribution Formats in editor simple view."
Currently not possible to add extra Distribution Formats unless using the advanced view. Need to apply changes to allow adding a "+" button to add new format.

This seems to currently exists in the ISO19139 schema.

[2022-09-21 17:27] ianwallen commented on #285
Looks ISO 19139 may have added this functionality in the following commit
https://github.com/geonetwork/core-geonetwork/commit/8f52f5f6d785c13dc9e91c7e7a90b085703c31d4 but that is old. So may want to look into more recent code to see how it is applied.

[2022-09-21 17:28] ianwallen commented on #285
Note that this may also apply to other fields as well - i.e. contacts.

[2022-10-11 10:53] ianwallen opened #287 "Format dropdown list not displayed correctly"
When selecting the resource format in the file store, it is not showing the dropdown box correctly.  It seems as if there are more options that cannot be reached.

![image](https://user-images.githubusercontent.com/1868233/195071155-194d2623-e695-4842-ac89-bf1655bdcaf2.png)

We had users who wanted to browse the full list but were not able to.

It may require a CSS fix? And possibly increase the s

[2022-10-11 10:58] ianwallen commented on #285
I just did a test on https://apps.titellus.net/ for Template for Vector data in ISO19139 (multilingual)  and see the following
![image](https://user-images.githubusercontent.com/1868233/195072484-b5a55739-3639-48d3-b8a5-bcf5dcbfb3bd.png)

Even this seems buggy as it seems to be missing "Distributor contact" next to the second "+"

[2022-10-11 11:06] ianwallen opened #288 "Data Identification date contain confusion mandatory field which can be removed"
As shown in the following screenshot, we can see that the date is mandatory but there is still an red "X" on the right to allow the deletion

![image](https://user-images.githubusercontent.com/1868233/195073148-10bea34c-aab2-4490-abf0-152a1da3fd1f.png)

If the "X" is clicked, the page is refreshed and the field is re-added. This is confusion to some users.

It would be better if the "X" was not av

[2022-10-11 11:26] ianwallen opened #289 "Organization selection titles are a little confusing"
In the following the "Branch/Sector/Division" is confusing some users as they see this as the format of the data to be entered and not suggestions.  i.e. users will try to enter "my branch/my sector/my division"

Also, some organizations have the hierarchy in a different order.  So some may want "Division/Sector/Branch".

But this title is not to identify the field format but simply and example of

[2022-10-12 16:18] wangf1122 opened #290 "Title missing from the search engine after upgrade"
After the upgrade, the search engine indexing has some error and causing metadata title missing.

![image](https://user-images.githubusercontent.com/74916635/195395346-be528b26-94e5-496f-b01a-9f396b960a43.png)

"idxMsg": "GNIDX-XSL||A sequence of more than one item is not allowed as the first argument of name() (<gmd:fileName/>, <gmd:fileDescription/>, ...)",

@josegar74
This commit is suspected c

[2022-10-21 05:20] josegar74 commented on #290
@wangf1122 I don't see any changes related to that fields, can you attach 1 metadata that has the problem to try it?

[2022-10-24 13:21] wangf1122 commented on #290
I will need to reset my environment and this change and see if I can reindex the metadata with issues. Then I will download it for you.

FYI, I also have an observation. If you edit the bad data and cancel the editing, it will be good. Some indexing is happing at the background I believe.

[2022-11-04 22:34] wangf1122 commented on #287
I had looked into this issue. According to the Geonetwork document, we could do some configuration to this https://github.com/metadata101/iso19139.ca.HNAP/blob/3b4137b971142bd133040a2e6b36c20595bc6671/src/main/plugin/iso19139.ca.HNAP/config/associated-panel/default.json#L44-L49

But I had no luck so far.

[2022-11-07 14:46] wangf1122 commented on #287
There seems to be a bug in geonetwork where the data-number-of-suggestions is missing from the multientrycombiner_onlineresourcesdescription.html widget. I will submit a PR (https://github.com/geonetwork/core-geonetwork/pull/6655) for it. Otherwise, that UI module won't take this configuration of numberOfSuggestions

[2022-11-17 16:16] jodygarnett commented on #290
meeting actions: Share a sample record to show the problem.

[2022-11-18 11:43] josegar74 commented on #290
@wangf1122

In the metadata provided I see the following:

[code]

See the 2on and 3rd thumbnail elements,  containing the following:

[code]

The problem it's related to this element, I remember that type of element in HNAP, mixing a codelist and a text element, not following the standard way to describe codelists in iso19139.

I'll do a PR fixing the issue.

[2022-11-18 11:53] josegar74 commented on #290
@wangf1122 please try https://github.com/metadata101/iso19139.ca.HNAP/pull/291

[2022-11-18 17:55] wangf1122 commented on #290
Confirmed and its working